<section class="mt-140 py-5 blog">
    <div class="container">
        <div class="row">
            <div class="insights-sec">
                <div class="insights-heading">
                    <h4 class="text-left mb-2 text-dark fontSize">U.S. officially enters into recession</h4>
                    <div class="post-date">
                        <p><i class="fa fa-clock-o"></i> <span>June 09, 2020 </span></p>
                        <p><i class="fa fa-eye"></i> <span>05</span></p>
                        <p><i class="fa fa-user"></i> <span>By Tejaswini Kolli, Senior Analyst & Market Data Associate</span></p>
                    </div>
                </div>

            </div>

            <div class="img-sec mt-3">
                <img src="assets/images/usReccession.PNG" class="img-fluid" alt="">

            </div>
            <div class="insights-pessage mt-3">
                <p class="text-justify">As per National Bureau of Economic Research, United States recession began in February 2020 marking the end of 128 months of economic growth. In the same month, the country had a spike in employment, spending and production before the
                    downfall. The World Bank stated that the economy is going to decrease by 5.2% in fiscal year 2020 which is the worst downturn over the past 150 years. The unemployment rate is 13.3% in May 2020 and 14.7% in April 2020 which is higher
                    than any dip since World War II.</p>
                <p class="text-justify">Amid all this, there is good news too; the markets are recovering from the severe downturn creating an optimistic environment. On June 08, 2020, NASDAQ gained 1.1% which is highest since the pandemic and all the other indexes such as S&amp;P
                    500 and Dow Jones are returning to normal. Also, jobs are heading back as the markets are recovering from the dip.</p>
                <p class="text-justify">
                    Though the situations are highly uncertain, the rebound could be swift and would mark the shortest recession in the history.</p>

                <div class="row">
                    <div class="sourceLink">
                        <a href="https://www.bbc.com/news/business-52972901" target="_blank"><b>Source Link:</b> https://www.bbc.com/news/business-52972901
						  
							</a>
                    </div>
                </div>
                <div class="row">
                    <div class="sourceLink">
                        <a href="https://www.cbsnews.com/news/united-states-recession-started-february/" target="_blank" class="ml-6"> https://www.cbsnews.com/news/united-states-recession-started-february/
						  
							</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>