<div class="mobile-nav-trigger-cont" id="mobile-nav-trigger">
    <a href="#" class="mobile-nav-trigger">
        <span class="icon"></span>
    </a>
</div>

<header class="header" id="desktopmenu">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <div class="logo-header">
                    <a [routerLink]="'/'"><img src="assets/images/magantilogo.svg" class="logo-width" alt="Maganit IT"></a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-9 col-xl-9">
                <nav class="main-nav">
                    <div class="region region-navigation">
                        <div id="block-menu-block-2" class="block block-menu-block">


                            <div class="content">
                                <div class="menu-block-wrapper menu-block-2 menu-name-main-menu parent-mlid-0 menu-level-1">
                                    <ul class="main-menu first-level" id="main-menu first-nav">
                                        <li class="first expanded menu-mlid-353 active-trail">
                                            <a [routerLink]="'/'" class="active-trail">Home</a>

                                        </li>
                                        <li class="expanded menu-mlid-355">
                                            <a [routerLink]="'/services'">Services</a>
                                            <ul class="sub-menu sub-menu-level-1 ">
                                                <li class="expanded menu-mlid-683"><a [routerLink]="'/tech-development'">Technology Development</a>
                                                    <ul class="sub-menu sub-menu-level-2 ">


                                                        <li class="leaf menu-mlid-1842"><a [routerLink]="'/app-development'">Application Development Services</a></li>
                                                        <li class="leaf menu-mlid-1841"><a [routerLink]="'/mobileApp-services'">Mobile Application Services</a></li>
                                                        <li class="leaf menu-mlid-801"><a [routerLink]="'/cloud-computing-services'"> Cloud Computing Services</a></li>

                                                        <li class="leaf menu-mlid-1843"><a [routerLink]="'/database-services'">Database Services</a></li>
                                                        <li class="leaf menu-mlid-1841"><a [routerLink]="'/security-services'">Security Services</a></li>

                                                        <li class="last leaf menu-mlid-1841"><a [routerLink]="'/web-branding'">Web Branding</a></li>
                                                        <li class="first leaf menu-mlid-1840"><a [routerLink]="'/op-main'">Operations & Maintenance</a></li>
                                                    </ul>
                                                </li>
                                                <li class="expanded menu-mlid-682"><a [routerLink]="'/tech-staffing'">Technology Staffing</a>

                                                </li>
                                                <li class="first expanded menu-mlid-1830"><a [routerLink]="'/tech-trainings'">Technology Training</a>

                                                </li>




                                            </ul>
                                        </li>
                                        <li class="expanded menu-mlid-357"><a [routerLink]="'/industries'">Industries</a>
                                            <ul class="sub-menu sub-menu-level-1 ">
                                                <li class="first leaf menu-mlid-551"><a [routerLink]="'/retail'" title="">Retail</a></li>
                                                <li class="leaf menu-mlid-717"><a [routerLink]="'/banking'">Banking</a></li>
                                                <li class="leaf menu-mlid-785"><a [routerLink]="'/manufacturing'">Manufacturing</a></li>
                                                <li class="leaf menu-mlid-374"><a [routerLink]="'/insurance'">Insurance</a></li>

                                            </ul>
                                        </li>
                                        <li class="last expanded menu-mlid-1556 ">
                                            <a href="javascript:void(0)" class="">About</a>
                                            <ul class="sub-menu sub-menu-level-1 ">
                                                <li class="first last leaf menu-mlid-1829 ">
                                                    <a [routerLink]="'/journey'" class="">Journey</a></li>
                                                <li class="leaf menu-mlid-717"><a [routerLink]="'/team'">Team</a></li>
                                                <li class="leaf menu-mlid-785"><a [routerLink]="'/recognition'">Recognition</a></li>
                                                <li class="leaf menu-mlid-374"><a [routerLink]="'/corporate-giving'">Corporate Giving</a></li>
                                                <li class="leaf menu-mlid-374"><a [routerLink]="'/casestudy'" class="">Case Studies</a></li>
                                                <li class="leaf menu-mlid-374"><a [routerLink]="'/career'">Career</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="pull-right">
                                        <div class="contact-sec">
                                            <div class="contact-mail-sec">
                                                <div class="contact">
                                                    <ul>
                                                        <li> <a href="tel:+1-855-217-4637" class="theme-blue"><i class="icon icon-phone"></i>1-855-217-4637</a></li>

                                                        <li>
                                                            <a href="mailto:info@mitresource.com" class="theme-blue"><i class="icon icon-email-envelope"></i>info@mitresource.com</a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>


        </div>

    </div>



</header>

<div id="mobile-nav">
    <div class="region region-mobile-navigation">
        <div id="block-menu-block-3" class="block block-menu-block">
            <div class="content">
                <div class="menu-block-wrapper menu-block-3 menu-name-main-menu parent-mlid-0 menu-level-1">
                    <ul class="mobile-nav" id="mobile-nav">
                        <li class="mobile-logo">
                            <a [routerLink]="'/'"><img alt="Maganti IT Logo" src="assets/images/magantilogo.svg" /></a>
                        </li>
                        <li class="last expanded menu-mlid-1556"><a [routerLink]="'/'" class="mobile-menu-link"> Home</a>

                        </li>

                        <li class="expanded menu-mlid-355"><a [routerLink]="'/services'" class="mobile-menu-link"> Services<span class="show-deeper-level show-deeper-level-main services"><i class="icon icon-android-add"></i></span></a>
                            <ul class="deeper-menu first-level sub-menu-level-1 ">
                                <li class="expanded menu-mlid-682"><a [routerLink]="'/tech-development'" class="mobile-menu-link"> Technology Development<span class="show-deeper-level show-deeper-level-third services"><i class="icon icon-android-add"></i></span></a>
                                    <ul class="deeper-menu second-level sub-menu-level-2 ">

                                        <li class="first leaf menu-mlid-528"><a [routerLink]="'/app-development'" class="mobile-menu-link"> Application Development Services</a></li>
                                        <li class="last leaf menu-mlid-801"><a [routerLink]="'/mobileApp-services'" class="mobile-menu-link"> Mobile Application Services</a></li>
                                        <li class="last leaf menu-mlid-801"><a [routerLink]="'/cloud-computing-services'" class="mobile-menu-link"> Cloud Computing Services</a></li>

                                        <li class="leaf menu-mlid-544"><a [routerLink]="'/oracle-services'" class="mobile-menu-link"> Database Services</a></li>
                                        <li class="last leaf menu-mlid-801"><a [routerLink]="'/security-services'" class="mobile-menu-link"> Security Services</a></li>

                                        <li class="last leaf menu-mlid-801"><a [routerLink]="'/web-branding'" class="mobile-menu-link"> Web Branding</a></li>
                                        <li class="last leaf menu-mlid-800"><a [routerLink]="'/op-main'" class="mobile-menu-link"> Operations & Maintenance</a></li>
                                    </ul>
                                </li>
                                <li class="expanded menu-mlid-683"><a [routerLink]="'/tech-staffing'" class="mobile-menu-link"> Technology Staffing</a>

                                </li>
                                <li class="first expanded menu-mlid-1830"><a [routerLink]="'/tech-trainings'" class="mobile-menu-link"> Technology Training</a>

                                </li>



                            </ul>
                        </li>
                        <li class="expanded menu-mlid-357"><a [routerLink]="'/industries'" class="mobile-menu-link"> Industries<span class="show-deeper-level show-deeper-level-main services"><i class="icon icon-android-add"></i></span></a>
                            <ul class="deeper-menu first-level sub-menu-level-1 ">
                                <li class="first leaf menu-mlid-551"><a [routerLink]="'/retail'" class="mobile-menu-link">Retail</a></li>
                                <li class="leaf menu-mlid-717"><a [routerLink]="'/banking'" class="mobile-menu-link"> Banking</a></li>
                                <li class="leaf menu-mlid-785"><a [routerLink]="'/manufacturing'" class="mobile-menu-link"> Manufacturing</a></li>
                                <li class="leaf menu-mlid-374"><a [routerLink]="'/insurance'" class="mobile-menu-link"> Insurance</a></li>

                            </ul>
                        </li>
                        <li class="first expanded menu-mlid-353"><a href="javascript:void(0)" class="mobile-menu-link"> About<span class="show-deeper-level show-deeper-level-main services"><i class="icon icon-android-add"></i></span></a>
                            <ul class="deeper-menu first-level sub-menu-level-1 ">
                                <li class="first leaf menu-mlid-686"><a [routerLink]="'/journey'" class="mobile-menu-link"> Journey</a></li>
                                <li class="leaf menu-mlid-358"><a [routerLink]="'/team'" class="mobile-menu-link"> Team</a></li>
                                <li class="leaf menu-mlid-465"><a [routerLink]="'/recognition'" class="mobile-menu-link"> Recognition</a></li>
                                <li class="leaf menu-mlid-462"><a [routerLink]="'/corporate-giving'" class="mobile-menu-link"> Corporate Giving</a></li>
                                <li class="leaf menu-mlid-368"><a [routerLink]="'/casestudy'" class="mobile-menu-link"> Case Studies</a></li>
                                <li class="leaf menu-mlid-369"><a [routerLink]="'/career'" class="mobile-menu-link"> Career</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>