<footer class="mt-80">
    <div class="container-fluid logoBorder">
        <div class="container py-3">
            <div class="row">
                <div class="col d-flex align-items-center filter ">
                    <img src="assets/images/footer/1.png" alt="">
                </div>
                <div class="col d-flex align-items-center filter ">
                    <img src="assets/images/footer/2.png" alt="">
                </div>
                <div class="col d-flex align-items-center filter ">
                    <img src="assets/images/footer/3.png" alt="">
                </div>
                <div class="col d-flex align-items-center filter">
                    <img src="assets/images/footer/4.png" alt="">
                </div>
                <div class="col d-flex align-items-center filter">
                    <img src="assets/images/footer/5.png" alt="">
                </div>
                <div class="col d-flex align-items-center filter">
                    <img src="assets/images/footer/6.png" alt="">
                </div>
                <div class="col d-flex align-items-center filter">
                    <img src="assets/images/footer/7.png" alt="">
                </div>
                <div class="col d-flex align-items-center filter">
                    <img src="assets/images/footer/8.png" alt="">
                </div>
                <div class="col d-flex align-items-center filter">
                    <img src="assets/images/footer/9.png" alt="">
                </div>
                <div class="col d-flex align-items-center filter">
                    <img src="assets/images/footer/10.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid bg-blue ">
        <div class="container py-4 ">
            <div class="row ">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                    <!-- <img src="images/footer/logo.png" class="mb-3 bg-white px-3 py-2 footer-logo" alt=" "> -->
                    <div class="follow">
                        <div class="text-white mt-0 ">
                            <h5 class="text-white font-weight-bold h5after">
                                <span>Follow us on</span>

                            </h5>
                            <div class="h5Line mb-3" style="width: 117px;"></div>
                            <a href="https://www.facebook.com/MagantiItResources/" target="_blank"> <i class="fab fa-facebook-square socialFont"></i></a>
                            <a href="https://www.linkedin.com/company/maganti-it-resources-llc" target="_blank"> <i class="fab fa-linkedin socialFont ml-3"></i></a>
                            <a href="https://twitter.com/mitresource" target="_blank"> <i class="fab fa-twitter-square socialFont ml-3"></i></a>

                        </div>
                        <h5 class="text-white mt-1 font-weight-bold ">
                            <a class="text_dec text-white " href="https://goo.gl/maps/Q4bUnNDm1Zp4FaGA6 " target="_blank ">
                                <i class="icon icon-map-marker mr-2 "></i><span>Google Map</span></a>
                        </h5>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 ">
                    <h5 class="text-white font-weight-bold h5after"><span>Navigate</span> </h5>
                    <div class="h5Line mb-3" style="width: 83px;"></div>
                    <nav class="nav flex-column nderline-opening">
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Home" [routerLink]="'/'">Home</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Services" [routerLink]="'/services'">Services</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Industries" [routerLink]="'/industries'">Industries</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Case Studies" [routerLink]="'/casestudy'">Case Studies</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Contact" [routerLink]="'/contact'">Contact</a>
                    </nav>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 ">
                    <h5 class="text-white font-weight-bold h5after"><span>Information</span> </h5>
                    <div class="h5Line mb-3" style="width: 112px;"></div>
                    <nav class="nav flex-column nderline-opening">
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Trainings" [routerLink]="'/tech-trainings'">Trainings</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Staffing" [routerLink]="'/tech-staffing'">Staffing</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Development" [routerLink]="'/tech-development'">Development</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Retail" [routerLink]="'/retail'">Retail</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Banking" [routerLink]="'/banking'">Banking</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Manufacturing" [routerLink]="'/manufacturing'">Manufacturing</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Insurance" [routerLink]="'/insurance'">Insurance</a>
                    </nav>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 ">
                    <h5 class="text-white font-weight-bold h5after"><span>About</span> </h5>
                    <div class="h5Line mb-3" style="width: 60px;"></div>
                    <nav class="nav flex-column nderline-opening">
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Journey" [routerLink]="'/journey'">Journey</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Team" [routerLink]="'/team'">Team</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Recognition" [routerLink]="'/recognition'">Recognition</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Corporate Giving" [routerLink]="'/corporate-giving'">Corporate Giving</a>
                        <a class="nav-link px-0 pb-1 text-white " data-hover="Career" [routerLink]="'/career'">Career</a>
                        <!-- <a class="nav-link px-0 pb-1 text-white " href=" ">Privacy Policy</a> -->
                    </nav>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                    <h5 class="text-white font-weight-bold h5after"><span>Reach Us</span> </h5>
                    <div class="h5Line mb-3" style="width: 87px;"></div>
                    <p>5 Meadow Street, Suite 201,</p>
                    <p class="mb-2"> Naugatuck, CT 06770, USA</p>
                    <p class="text-white email">
                        <a href="mailto:info@mitresource.com" class="text_dec text-white ">
                            <i class="icon icon-email-envelope mr-2 "></i>info@mitresource.com</a>
                    </p>
                    <p class="text-white mb-2 phone">
                        <a href="tel:1-855-217-4637 " class="text_dec text-white ">
                            <i class="icon icon-phone mr-2 "></i>1-855-217-4637</a>
                    </p>


                </div>
            </div>
        </div>


    </div>
    <div class="container-fluid bg-white px-0 blue-bottomLine">
        <div class="container py-2 ">
            <div class="row ">
                <div class="copyright-sec w-100 ">
                    <div class="copyright-inner ">
                        <p class="text-center text-muted ">An ISO 9001:2015 certified company.</p>
                        <p class="text-center text-muted "> &copy; 2020 Maganti IT Resources LLC. All Rights Reserved. Maganti IT is proud to be Equal Opportunity/Affirmative Action Employer.</p>
                        <p class="href-link text-center ">

                            <a class="theme-blue " href="assets/Terms_of_use.pdf" target="_blank">Terms of Use </a>|
                            <a class="theme-blue " href="assets/Privacy_statement.pdf" target="_blank">Privacy Policy</a>

                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<div class='to-top'>
    <a class='back-to-top' href='#'><i class="icon icon-angle-up "></i></a>
</div>