<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture>
                    <source type="image/webp " srcset="assets/images/services/web_branding_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/web_branding_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/web_branding_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

					assets/images/services/web_branding_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/web_branding_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/services/web_branding_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/web_branding_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/web_branding_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
		   
					assets/images/services/web_branding_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/web_branding_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/services/web_branding_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/web_branding_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/web_branding_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
				  
					assets/images/services/web_branding_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/web_branding_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="assets/images/services/web_branding_1960x400.jpg?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel ">
                </picture>

                <!-- <div class="overlap-text w-100 " >
					<h2 class="text-center ">MIT JOURNEY</h2>
				</div> -->

            </div>

        </div>
    </div>
</section>

<div class="container tech-development my-5 text-justify">
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="mit-red font-weight-bold mb-4">Web Branding</h4>
            <p>Confused on how to make your company to stand out in a crowd in highly competitive environment, we are ready to help with ideology, plan and implementation. Our proficient teamwill analyze your business with your competitors and deliver you
                solutions, which is complete andcreate branding for you. Through branding you can achieve goals which are directly connected with consumer needs andemotions. Whether you want to create a brand or a website, increase traffic to your website,
                design a promotional campaign or increase brand visibility our team is ready to help you with following services.</p>
            <h5 class="mt-3">We offer below Web Branding</h5>
        </div>
    </div>

</div>
<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Web designing and development</h4>
                <p>We provide unique and best website designs with enhanced user experienceas your website is the first point of contact. The design also includes visual elements (logo, official colors, font) and written elements (slogan, tagline, brand
                    voice). Are you stuck on what CMS platform to use? Our expert team will help you choose the best platform among the following which best fits your requirements.
                </p>
                <ul class="px-4">
                    <li>Wordpress</li>
                    <li>Magento</li>
                    <li>Shopify</li>
                    <li>Joomla</li>
                    <li>WooCommerce</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/web-design.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid px-0 devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/seo.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Search Engine Optimization (SEO) </h4>
                <p>SEO is the company’s foundation for overall digital traffic. We help you with proper implementation strategies to drive potential consumers to the site. Based on the organization plans, we can implement on-page SEO, technical SEO, and
                    off-page SEO with the following services.
                </p>
                <ul class="px-4">
                    <li>Keyword research</li>
                    <li>Website SEO Review</li>
                    <li>SEO strategy and execution</li>
                    <li>Data review and optimization</li>

                </ul>
            </div>

        </div>
    </div>

</div>
<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Social media marketing</h4>
                <p>Social media marketing is the fasted growing trend and greater connecter of the present day. We can reach targeted audience through Instagram, Facebook, LinkedIn, Twitter and Sanpchat platforms. We create a best strategy to execute the
                    plan based on your social media goals aligned with business objectives.
                </p>

            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/socail-media.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid px-0 devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-center">
                <img src="assets/images/content-marlet.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Content Marketing</h4>
                <p>Content should change with your business, with content we can attract and develop a specific target audience with the ultimate goal of creating true customer engagement. With our team we can build trust for your audiences with the following
                    services.
                </p>
                <ul class="px-4">
                    <li>Blogging</li>
                    <li>Email marketing</li>
                    <li>Website Content</li>
                    <li>Infographics</li>

                </ul>
            </div>

        </div>
    </div>

</div>


<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a href="contact.html" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>