<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture>
                    <source type="image/webp " srcset="assets/images/career/career_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 320w, 
					assets/images/career/career_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w,
			  
					assets/images/career/career_1920x400.jpg?w=1920&amp;h=400&amp;q=75&amp;fm=webp 1920w, 
					assets/images/career/career_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/career/career_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/career/career_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 320w,
					 assets/images/career/career_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					 assets/images/career/career_1920x400.jpg?w=1920&amp;h=400&amp;q=75&amp;fm=webp 1920w, 
				 
					 assets/images/career/career_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					 assets/images/career/career_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 250vw, 1920px " class="img-fluid lazy img-parallax " loading="lazy " srcset="assets/images/career/career_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 320w,
					 assets/images/career/career_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
	  
					 assets/images/career/career_1920x400.jpg?w=1920&amp;h=400&amp;q=75&amp;fm=webp 1920w,
					 assets/images/career/career_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					 assets/images/career/career_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="assets/images/case_study/case_study_1920x400.jpg?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel ">
                </picture>


            </div>

        </div>
    </div>
</section>



<div class="container-fluid career-bg">
    <div class="container py-3">
        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <div class="job-heading">
                    <h5 class="mit-red font-weight-bold mb-4">DOT NET Developer</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 d-flex align-items-center">
                <a href="javascript:void(0)" class="btn-hover mt-1 px-5 py-3 mx-auto d-block">
                    <em></em>
                    <span>
						More Details
					   </span>
                </a>
                <!-- <button type="button" class="btn btn-warning mt-1 px-5 py-3 mx-auto d-block rounded-0 btn-hover">More Details</button> -->
            </div>

        </div>
        <div class="row mt-5 mb-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="far fa-user text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">Availability</h6>
                        <p class="text-blue">5 People</p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="fas fa-align-left  text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">EXPERIENCE</h6>
                        <p class="text-blue">Min 5 years</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="fas fa-graduation-cap text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">EDUCATION</h6>
                        <p class="text-blue">Graduation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="container px-0">
        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <div class="job-heading">
                    <h5 class="mit-red font-weight-bold mb-4">BUSINESS ANALYST</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 d-flex align-items-center">
                <a href="javascript:void(0)" class="btn-hover mt-1 px-5 py-3 mx-auto d-block">
                    <em></em>
                    <span>
						More Details
					   </span>
                </a>
            </div>

        </div>
        <div class="row mt-5 mb-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="far fa-user text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">Availability</h6>
                        <p class="text-blue">5 People</p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="fas fa-align-left  text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">EXPERIENCE</h6>
                        <p class="text-blue">Min 5 years</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="fas fa-graduation-cap text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">EDUCATION</h6>
                        <p class="text-blue">Graduation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid career-bg">
    <div class="container py-3">
        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <div class="job-heading">
                    <h5 class="mit-red font-weight-bold mb-4">Sr. .NET Developer</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 d-flex align-items-center">
                <a href="javascript:void(0)" class="btn-hover mt-1 px-5 py-3 mx-auto d-block">
                    <em></em>
                    <span>
						More Details
					   </span>
                </a>
            </div>

        </div>
        <div class="row mt-5 mb-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="far fa-user text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">Availability</h6>
                        <p class="text-blue">5 People</p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="fas fa-align-left  text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">EXPERIENCE</h6>
                        <p class="text-blue">Min 5 years</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="fas fa-graduation-cap text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">EDUCATION</h6>
                        <p class="text-blue">Graduation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="container px-0">
        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <div class="job-heading">
                    <h5 class="mit-red font-weight-bold mb-4">Project Manager</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 d-flex align-items-center">
                <a href="javascript:void(0)" class="btn-hover mt-1 px-5 py-3 mx-auto d-block">
                    <em></em>
                    <span>
						More Details
					   </span>
                </a>
            </div>

        </div>
        <div class="row mt-5 mb-3">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="far fa-user text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">Availability</h6>
                        <p class="text-blue">5 People</p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="fas fa-align-left  text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">EXPERIENCE</h6>
                        <p class="text-blue">Min 5 years</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="career-bottom">
                    <div class="career-icons mr-4">
                        <i class="fas fa-graduation-cap text-blue font20"></i>
                    </div>
                    <div>
                        <h6 class="font-weight-bold mit-red mb-2">EDUCATION</h6>
                        <p class="text-blue">Graduation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="pt-5 pb-5 bg-light career-sec">
    <div class="container-fluid ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-careers w-100">
                        <h2 class="text-center my-3 py-3">Benefits we offer!
                            <!-- <div class="h5Line mb-3"></div> -->
                        </h2>

                        <div class="list-more">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-sm-12 col-md-4">
                                    <div class="list-benfits">
                                        <ul class="px-4">
                                            <li>401(K) plan</li>
                                            <li>HSA</li>
                                            <li>Health Insurance</li>
                                            <li>Dental Insurance</li>


                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-sm-12 col-md-4">
                                    <div class="list-benfits">
                                        <ul class="px-4">
                                            <li>Flexible Work Environment</li>
                                            <li>Conference & Training Reimbursements </li>
                                            <li>Uncapped Paid Time Off</li>
                                            <li>Vision Insurance</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-sm-12 col-md-4">
                                    <div class="list-benfits">
                                        <ul class="px-4">
                                            <li>Short Term Disability, Long Term Disability and Life Insurance</li>
                                            <li>Team Retreats & Events</li>
                                            <li>E-Verify</li>
                                            <li>Green Card Application</li>

                                        </ul>
                                    </div>
                                </div>


                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<section class="bg-blue">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Work with Us</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">If you believe in working with veracity, flexible working environment and trust, Maganti IT is the right place for you. Contact us for more details.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>