<section class="mt-140 py-5 blog-client">
    <div class="container">
        <div class="row">
            <div class="insights-sec">
                <div class="insights-heading">
                    <h4 class="text-left mb-2 py-5 text-dark fontSize">What our Clients say</h4>

                </div>

            </div>


        </div>
        <div class="row">
            <div class="codepen-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        Thank you for the work you did with the rebrand. We have been getting very good feedback on the new website, logos and business cards. The website in particular is proving very beneficial. Having a mobile enabled site with a fully integrated content management
                        system is proving to be very useful, and also proving to be a key marketing tool to help us compete for new business. Once again, many thanks for your help and support throughout the entire process.
                        <br> Maganti IT Resources LLC, Rocks!!!
                    </blockquote>
                    <figcaption class="review__person">

                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo" />
                        <div class="review__info">
                            <p class="review__info--name">Carlos Maldonado
                            </p>
                            <p class="review__info--date">C &amp; R Yard Pro</p>
                        </div>
                        <div class="review__rating">
                            <a href="http://cryardpro.com/" target="_blank">C & R Yard Pro</a>
                        </div>
                    </figcaption>
                </figure>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        Prasad and Sushma  Maganti and Kamran Baig of Maganti IT Resources in Naugatuck, CT joined the core Team of  BIGCT.BIZ  as an In-kind Sponsors, Assistant Developers  and Volunteer Consultants when we had just launched in 2018. Maganti IT Resources immediately
                        aligned with our Core  Mission: to provide FREE state of the art technology that gives our Connecticut businesses, non-profits, and community leaders an amplified voice and a vote year round - on the issues that have the greatest
                        impact on our ability to grow, hire employees, offer better wages and benefits and prosper in Connecticut. Additionally, Prasad and Sushma Maganti immediately saw the unlimited possibilities connected with the BIGCT.BIZ  plan to
                        launch the first ever VERIFIED “CT FIRST” Directory that offers a free lifetime listing to all legitimately registered businesses and organizations with a validated CT TAX ID / EIN # enabling our Connecticut Business to better
                        compete locally by eliminating the ability for out-of-state and country competition and scams to buy their way ahead of local businesses. In a short time we became more than business partners... we became friends on a mission to
                        Save CT’s economy by implementing a SOLUTIONS IT platform that is built for the people of CT, and not for profit.  The Maganti family generously shares the time of their amazing Customer Relations Representative Kamran Baig ( BIGCT.BIZ
                         Core Team Communications Volunteer) to help share the message of  BIGCT.BIZ  with the business owners and community leaders he meets throughout CT. Kamran’s passion, larger than life enthusiasm and genuine love for people makes
                        Kamran a strong advocate and priceless asset to not only the Maganti organization and  BIGCT.BIZ , but to the future of Connecticut.  Thank God for Business Owners willing to invest in the future as visionaries for the greater
                        good of all. Maganti IT Resources runs their business based on Core Valued Principals and are committed to putting the needs of their customers first.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Kathleen Crispino</p>
                            <p class="review__info--date">BIGCT.BIZ -Solution Architect</p>
                        </div>
                        <div class="review__rating">
                            <a href="https://bigct.biz/core-team/" target="_blank">BIGCT.BIZ -Solution Architect</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        Maganti IT Resources, LLC did a FABULOUS job on my website! Even better their fees were VERY reasonable, and I received a lot of very helpful tips as well! Throughout the steps for developing my website, I received a lot of guidance and we had several
                        online calls so that my site would be set up exactly as I wished. Maganti also helped me pick out a logo and assisted me with many questions as I advertised on Facebook! I am very satisfied and would highly recommend Maganti LLC
                        to any small business which desires to set up a website!
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Candace J. Kosinski-CPA, Proprietor, CPA
                            </p>
                            <p class="review__info--date">AuditPro 411</p>
                        </div>
                        <div class="review__rating">
                            <a href="http://auditpro411.com/" target="_blank">AuditPro 411</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        Management team of Maganti IT Resources, LLC are very Professional and Courteous and always provide Quick response without delays.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Vicky Duong-Administrative Assistant
                            </p>
                            <p class="review__info--date">Beechwood Computing Limited
                            </p>
                        </div>
                        <div class="review__rating">
                            <a href="http://beechwoodcomputing.com/" target="_blank">Beechwood Computing Limited
							</a>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>