<div class="container-fluid mt-5" [ngClass]="isIEOrEdge ? 'ie-insurance':'insurance-bg'">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-7 col-xl-7"></div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-5 col-xl-5">
            <div class="retail-side">
                <h3 class="text-blue mb-4 font-weight-bold text-uppercase">IT Solutions for Insurance Industry</h3>
                <h4 class="text-white mb-4 font-weight-bold">We build solutions for your business</h4>
                <p class="mb-4">We improve customer interaction and relations with secured environment and reduced risk. With our services and solutions we enhance digital experience and reduce maintenance cost.”</p>
                <a type="button" class="btn btn-warning mt-1 px-5 py-3" [routerLink]="'/contact'">Talk To Our Experts</a>
                <p class="mt-5 font-weight-bold">Check out the customers from Insurance Industry </p>
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <img src="assets/images/cus-logo/futek_logo_white.png" class="img-fluid" alt="Futek Logo" title="Futek Logo">
                    </div>
                    <div class="col">
                        <img src="assets/images/cus-logo/actionaudiostore.png" class="img-fluid" alt="Futek Logo" title="Futek Logo">
                    </div>
                    <div class="col">
                        <!-- <img src="assets/images/cus-logo/" class="img-fluid" alt=""> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container mt-5 retail-page">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h4 class="mb-4 mit-red font-weight-bold">Why Choose Us</h4>
            <p>“We will project your thoughts into a customized virtual tool”

            </p>
            <br>
            <p> Technology in insurance industry can be used to increase the experience of agents, insured and insurer with live chats, enhanced web, mobile experience, automation of claims and many more. We at Maganti IT solutions are ready to help the clients
                to go through the digital makeover on insurance with custom solutions and cutting edge technologies.</p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h4 class="mb-4 mit-red font-weight-bold px-3">Our expertise:</h4>
            <div class="px-5">
                <ul class="font-weight-bold">
                    <li>Process automation</li>
                    <li>ERP solutions</li>
                    <li>Web and mobile app development</li>
                    <li>CMS development services</li>
                    <li>E-commerce web development</li>
                    <li>CRM development</li>
                    <li>Open source technologies</li>
                    <li>Search Engine Optimization</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>