<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture class="chrome">
                    <source type="image/webp " srcset="assets/images/services/security_services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/security_services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/security_services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

					assets/images/services/security_services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/security_services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/services/security_services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/security_services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/security_services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
	  
					assets/images/services/security_services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/security_services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/services/security_services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/security_services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/security_services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
 
					assets/images/services/security_services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/security_services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="assets/images/services/security_services_1960x400.jpg?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel " title="Maganit IT Guild Carousel ">
                </picture>
                <img src="assets/images/services/security_services_1920x400.jpg" class="img-fluid ie" alt="Maganti IT Resources, LLC Security Services" title="Maganti IT Resources, LLC Security Services">

                <!-- <div class="overlap-text w-100 " >
					<h2 class="text-center ">MIT JOURNEY</h2>
				</div> -->

            </div>

        </div>
    </div>
</section>

<div class="container tech-development my-5 text-justify">
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="mit-red font-weight-bold mb-4">Security Services</h4>
            <p>Day to day life of any business or an individual rely on computer-driven and interconnected information technologies. All are becoming more dependent on a secure cyberspace, new vulnerabilities have been revealed and new threats continue to
                emerge. Consequently, Cybersecurity should be a concern for any company, business or an individual to protect them from data breach threats and hackers. Evolving technologies like 5G, Quantum computing will fuel cyber security concerns.
                Hence, the future of cybersecurity is full of new threats and companies should have full focus on solutions to secure devices and systems. So, security is important to protect sensitive and personal data and we provide commercial security
                solutions that deliver competences in following areas.</p>
            <h5 class="mt-3">We offer below Security Services</h5>
        </div>
    </div>

</div>

<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/network-security.png" class="img-fluid" alt="Security Services alternative image" title="Security Services Title">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Network security</h4>
                <p>This is the activity designed to protect the usability and integrity of the network, the activity targets a variety of threats, prevents them entering your network and manages access to the network.
                </p>
                <p>Network services from Maganti IT support your network’s growing need for agility, security and scalability in a multi-vendor, multi-technology environment. We provide straightforward guidance and extensive knowledge on networking across
                    industries, and we use a lifecycle approach that spans strategy, assessment, planning, design, implementation and management. Our services range from network connectivity consulting and integration to managed network services and software-defined
                    networking.
                </p>
                <p>Maganti IT offers single-point-of-contact support for your network and security devices, regardless of manufacturer and location.</p>
            </div>

        </div>
    </div>

</div>
<div class="container-fluid px-0  devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Infrastructure security</h4>
                <p>Our services ensure the security of your infrastructure. By transforming existing infrastructures, optimizing security tools and organizing next-generation safe-guarding techniques, we support the transfer of the workforce and the digitalization
                    of the business with firewalls.
                </p>
                <p>Maganti IT infrastructure and endpoint security services help to improve the security of the network and systems within your IT infrastructure through ongoing assessments as well as around-the-clock managed and monitored security.</p>
                <h5 class="mb-2">Featured services</h5>
                <ul class="px-4">
                    <li>Managed security services</li>
                    <li>Managed detection and response services</li>
                    <li>Secure SD-WAN services</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/infrastracture-security.png" class="img-fluid " alt="Security Services alternative image" title="Security Services Title">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-center">
                <img src="assets/images/app-security.png" class="img-fluid" alt="Security Services alternative image" title="Security Services Title">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Application security</h4>
                <p>Cyber risk and security require a proactive and intelligence-driven approach. Software Intelligence shifts insight into security strategy blind spots before development starts.</p>
                <p>Any software or application which is used to run a business needs to be secured. An application may contain drawbacks that attackers can use to penetrate to your network. Application security will incorporate hardware, software and process
                    to setback the drawbacks and protect the application.
                </p>
                <h5 class="mb-2">Design Security </h5>
                <ul class="px-4">
                    <li>Blueprinting informs proactive threat analysis and secure architectural design</li>
                    <li>Architecture governance enforces development adherence to secure design</li>
                    <li>Contextual Software Analysis finds flaws that application security tools can’t</li>
                    <li>Measurement that can be benchmarked and show trends in security risk and performance</li>
                </ul>

            </div>

        </div>
    </div>

</div>
<div class="container-fluid px-0  devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Identity &amp; access management</h4>
                <p>This is the context of policies and technologies for ensuring proper people to have appropriate access to resources. Not every user can have access to your network. To keep out of hackers and attackers we need to recognize each user and
                    device and accordingly build security policies. Hence access to certain network will be given to certain set of people.
                </p>

            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/identity-sec.png" class="img-fluid" alt="Security Services alternative image" title="Security Services Title">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-center">
                <img src="assets/images/data-privacy.png" class="img-fluid" alt="Security Services alternative image" title="Security Services Title">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Data Security &amp; Privacy</h4>
                <p>Data breach is the most common thing in today’s digital world. Protecting your company’s critical data is very crucial. We help you protect, manage and monitor sensitive data with encryption.
                </p>
                <p>Your business data represents your intellectual capital, competitive differentiator and the lifeblood of your organization. Maganti IT offers data security and protection that empower security teams to automatically analyze what is happening
                    across the data environment.</p>
                <ul class="px-4">
                    <li>Analyze your data risk</li>
                    <li>Shield sensitive data from external and internal actors</li>
                    <li>Rapidly adapt to changes in your environment</li>
                </ul>
            </div>

        </div>
    </div>

</div>



<section class="bg-blue">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>