<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture class="chrome">
                    <source type="image/webp " srcset="assets/images/journy/mit_journey_480x320.webp?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/journy/mit_journey_960x640.webp?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/journy/mit_journey_1920x400.webp?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
		   
					assets/images/journy/mit_journey_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/journy/mit_journey_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/journy/mit_journey_480x320.webp?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/journy/mit_journey_960x640.webp?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/journy/mit_journey_1920x400.webp?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
 
					assets/images/journy/mit_journey_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/journy/mit_journey_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/journy/mit_journey_480x320.webp?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/journy/mit_journey_960x640.webp?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/journy/mit_journey_1920x400.webp?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
		  
					assets/images/journy/mit_journey_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/journy/mit_journey_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="assets/images/journy/mit_journey_1960x400.webp?w=1920&amp;q=75 " title="Maganit IT Guild Carousel" alt="Maganit IT Guild Carousel ">
                </picture>

                <img src="assets/images/journy/mit_journey_1920x400.png" class="img-fluid ie" alt="Maganit IT Guild Carousel" title="Maganit IT Guild Carousel">

            </div>
            <div class="row m-0 ">
                <div class="innerContent ">
                    <div class="inner ">
                        <div class="section-content ">
                            <h4 class="mb-3 font-30">Our glory includes our people, our dream and our values</h4>
                            <p>Maganti IT Resources is not just a globally recognized IT company but a family of talented professionals who serve global brands, businesses, mid - sized companies or even startups with innovative solutions.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="image-sec p-5 ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 zoomer-sec  ">
                <div class="founder mt-5">
                    <img src="assets/images/journy/prasadsir.PNG" class="img-fluid w-100" alt="Founder of MIT " title="founder ">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <div class="p-3">
                    <h2>President &amp; CEO</h2>
                    <p>Prasad Maganti is a President &amp; CEO of Maganti IT Resources, LLC. With over 30+ years of experiences in IT industry, Prasad has accomplished executive with domestic and international experience in operations, P&amp;L oversight,
                        product development, marketing involving start-up, and growth organizations. Apart from IT business, he is a serial entrepreneur in other areas. He also serves as a Director of MBR Food Products, MBR Consumer Services, Maganti
                        Oil Energy Inc, Maganti Group, LLC Maganti IT Solutions Pvt. Ltd. and Naugatuck Chamber Board of Director and Waterbury Chamber Member. He grew into this position by gaining experience in working with industry leaders from small,
                        medium to large organizations where he served as a Senior IT Architect/Team Lead.</p>
                    <p>His result-oriented, decisive leader with proven success in new market identification and strategic positioning for information technology organizations has supported in business growth. With his high integrity he has always been an
                        energetic leader known for ability to envision and create successful outcomes in complex situations. He has a diverse industry and functional expertise, with tenacious commitment to driving sales, profit and market-share growth.
                        Prasad holds Master of Computer Science in Information Technology from Quinnipiac University, USA.</p>
                </div>


            </div>

        </div>
    </div>
</section>
<section class="about-info ">

    <div class="container ">

        <div class="row pb-5">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <div class="p-3">
                    <h2>History</h2>
                    <p>Maganti IT Resources, LLC is rapidly augmenting its client base globally as a decisive and reliable Information Technology company since 2004. We are committed to the evolution and prosperity of the communities and clients we serve
                        with an outstanding workforce encompassing talented and dedicated professionals with experience in diverse disciplines as a Minority Business Enterprise (“MBE”) certified company. Driven by creativity and a passion for advancement,
                        we repetitively augment ourselves by embracing new growth-oriented ideas and technology to help our clients realize their full potential and equip themwith a competitive edge. We offer a range of customized and applied software
                        solutions to clients across large and midsized companies in the financial, healthcare, banking, retail, telecom, and other industries.</p>
                    <p>With over 60 years of combined technology and management expertise from the executive team, we have built and grown in the areas of risk and control, data visualization dashboards, ERP, data analysis and information security. Through
                        our journey, we partnered with industry tech leaders to ensure delivery of efficient solutions for clients to benefit from steady reliability and uniqueness across solutions.</p>
                </div>


            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 zoomer-sec">
                <div class="founder mt-5">
                    <img src="assets/images/journy/his.jpg" class="img-fluid w-100" alt="Founder of MIT " title="founder ">
                </div>
            </div>
        </div>
        <div class="row pt-3 pb-3">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 zoomer-sec  ">
                <div class="founder mt-3">
                    <img src="assets/images/who-we-are.jpg" class="img-fluid w-100" alt="who we are " title="who we are">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <div class="p-3">
                    <h2>Who we are</h2>

                    <p>We are one of the leading providers of IT solutions through software development and workforce services with 100+ professionals located across the world. Through our journey, we partnered with industry tech leaders to ensure delivery
                        of efficient solutions for clients to benefit from steady reliability and uniqueness across solutions. Our teams are dedicated to apply their competencies worldwide from our technology centers.</p>
                    <p>Our mission is to project client’s thoughts through a best product and help achieve it in a cost effective way.
                    </p>
                    <p>We believe that the privilege to work is a Gift, the power to work is a Blessing and the love towards work is Success. Maganti IT Resources, LLC offers as spectrum of services catering to a wide range of industry needs by leveraging
                        on its domain expertise and strategic alliances with leading technology provides.</p>
                </div>


            </div>

        </div>
    </div>

</section>
<section class="think_big p-5 ">
    <div class="container ">
        <div class="row zoomer-sec ">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <div class="mt-3 p-3">
                    <div class="inner-sub-content ">
                        <h2>What We Do</h2>
                        <p>Our dedication and passion has led us to become the leading Information Technology company in the USA where we offer a range of industry- leading web and mobile application development solutions using futuristic technologies such
                            as Internet of Things ( IoT), AI-ML, AR-VR, Voice Assistants and Digital Skills & Cloud computing, etc.
                        </p>
                        <p>We are empowered by our certified tech experts and our R&D team, who have always been committed to helping global customers with a plethora of IT services and solutions. Commitment to our team ensures that our clients save huge
                            money on project development with faster delivery.We are committed to the advance and richness of the clients and communities we serve.
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">


                <div class="think-big-banner ">
                    <div class="think-big-inner-baner ">
                        <img src="assets/images/dont-it.jpg" class="img-fluid " alt="think_big " title="maganti-thik-big " srcset="assets/images/dont-it.jpg ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="journey-flow p-5 ">
    <div class="container timeline-bg ">
        <h2 class="text-center ">Milestones</h2>
        <div class="row ">
            <div class="col-md-12 ">
                <div class="main-timeline5 ">
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2019</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">Additional offshore location</h3>
                            <p class="description ">
                                Established two additional offshore locations in India
                            </p>
                        </div>
                    </div>
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2018</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">Certification</h3>
                            <p class="description ">
                                Gained ISO 9001:2015 certification </p>
                        </div>
                    </div>
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2017</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">Achievement</h3>
                            <p class="description ">
                                Approved by Better Business Bureau
                            </p>
                        </div>
                    </div>
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2016</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">Affiliation</h3>
                            <p class="description ">
                                Affiliated membership with Minority Supplier Development Council
                            </p>
                        </div>
                    </div>
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2014</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">New location and software development</h3>
                            <p class="description ">
                                Opened second IT company in Naugatuck, CT, USA


                            </p>
                            <p class="description ">Built own all-in-one management software called CuroRC</p>
                        </div>
                    </div>
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2013</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">Revenue</h3>
                            <p class="description ">
                                Over 200% revenue growth from private custom platform applications
                            </p>
                        </div>
                    </div>
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2012</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">Offshore IT company</h3>
                            <p class="description ">
                                Established offshore company in India
                            </p>
                        </div>
                    </div>
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2011</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">New Location</h3>
                            <p class="description ">
                                Groundbreaking newly acquired location in Naugatuck, Connecticut
                            </p>
                        </div>
                    </div>
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2008</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">Growth</h3>
                            <p class="description ">
                                Growth of company to 15 employees
                            </p>
                        </div>
                    </div>
                    <div class="timeline ">
                        <div class="timeline-icon "><span class="year ">2004</span></div>
                        <div class="timeline-content ">
                            <h3 class="title ">Foundation</h3>
                            <p class="description ">
                                Started with 2 dedicated employees
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Join our team</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">Achieve your career goals and objectives through our support</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>

            </div>
        </div>
    </div>

</section>