<section class="mt-140">
    <picture>
        <source type="image/jpeg " srcset="assets/images/team/team_480x320.jpg?w=480&amp;h=250&amp;q=75&amp;fm=webp 480w, 
		assets/images/team/team_960x620.jpg?w=960&amp;h=600&amp;q=75&amp;fm=webp 960w, 
		assets/images/team/trainikng.jpg 1920w" sizes="(max-width: 1920px) 100vw,
							1920px ">
        <source srcset="assets/images/team/team_480x320.jpg?w=480&amp;h=250&amp;q=75&amp;fm=webp 480w, 
		assets/images/team/team_960x620.jpg?w=960&amp;h=600&amp;q=75&amp;fm=webp 960w, 
		assets/images/team/trainikng.jpg 1920w " sizes="(max-width: 1920px) 100vw, 1920px ">
        <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/team/team_480x320.jpg?w=480&amp;h=250&amp;q=75&amp;fm=webp 480w, 
		assets/images/team/team_960x620.jpg?w=960&amp;h=600&amp;q=75&amp;fm=webp 960w, 
		assets/images/team/trainikng.jpg 1920w" alt="Maganit IT Insights ">
    </picture>

    <div class="row m-0 ">
        <div class="innerContent ">
            <div class="inner ">
                <div class="section-content ">
                    <h4 class="mb-3 font-30">A fun, creative and ambitious team with ideas out of bounds!</h4>
                    <p>Passionate to create impeccable digital experiences for local to global brands.</p>
                </div>
            </div>
        </div>

    </div>

</section>
<section>
    <div class="container tiles">
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/prasadmaganti/" title="President / CEO" alt="President / CEO"><img class="img-fluid w-100" src="assets/images/team/leader/prasadsir3.PNG">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Prasad Maganti</h4>
                        <p class="text-center ">President / CEO</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/sushmamaganti/" target="_blank" title="Vice President / CTO" alt="Vice President / CTO"><img class="img-fluid w-100" src="assets/images/team/leader/sushmaMam3.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Sushma Maganti</h4>
                        <p class="text-center ">Vice President / CTO</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href=" https://www.linkedin.com/in/sainath-kadiyala-a3544aaa" title="Director of Operations" alt="Director of Operations"><img class="img-fluid w-100" src="assets/images/team/leader/saisir2.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Venkata Sainath</h4>
                        <p class="text-center ">Director of Operations</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/gita-p-7558aa64/" target="blank" title="Sr. Human Resources & Compliance Manager" alt="Sr. Human Resources & Compliance Manager"><img class="img-fluid w-100" src="assets/images/team/leader/gita2.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Gita Poudel</h4>
                        <p class="text-center ">Sr. Human Resources & Compliance Manager</p>

                    </div>

                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/kamran-baig-70659388/" title="Client Engagement & Sales Manager" alt="Client Engagement & Sales Manager"><img class="img-fluid w-100" src="assets/images/team/leader/kamran2.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Kamran Baig</h4>
                        <p class="text-center ">Client Engagement & Sales Manager</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/srikanth-bobba-bb3b8814/"><img class="img-fluid w-100" src="assets/images/team/development/default.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Srikanth Bobba</h4>
                        <p class="text-center ">Project Lead & Business Analyst & QA Lead</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/pavan-kumar-gurram/" title="Accounting Manager" alt="Accounting Manager">
                    <img class="img-fluid w-100" src="assets/images/team/development/pavanKumar.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Pavan Kumar GN</h4>
                        <p class="text-center">Accounting Manager</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="" title="Accountant" alt="Accountant">
                    <img class="img-fluid w-100" src="assets/images/team/development/default.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Srinivasa Rao</h4>
                        <p class="text-center ">Sr. Accountant</p>

                    </div>

                </div>
            </div>



        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/tejaswini-kolli-79102263/" target="blank" title="Senior Analyst and Market Data Associate">
                    <img class="img-fluid w-100" src="assets/images/team/leader/tejaswini.PNG">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Tejaswini Kolli </h4>
                        <p class="text-center ">Senior Analyst and Marketing Data Associate</p>

                    </div>

                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/raj-kumar-50677b1a4/"><img class="img-fluid w-100" src="assets/images/team/development/rajkumar.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Raj Kumar N</h4>
                        <p class="text-center ">Senior Technical Lead</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/nagoor-shaik-3a911370/"><img class="img-fluid w-100" src="assets/images/team/development/nagoor1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Nagoor Sk</h4>
                        <p class="text-center ">Senior Web Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/rajyam-v-79b957100/"><img class="img-fluid w-100" src="assets/images/team/development/rajyam.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Venkata Rajyam Vakkalagadda</h4>
                        <p class="text-center ">Sr. Software Developer</p>

                    </div>

                </div>
            </div>






        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/arun-mareedu-a169b18a/"><img class="img-fluid w-100" src="assets/images/team/development/arun1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Arun M</h4>
                        <p class="text-center ">Senior Web Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/venkat-donepudi-496482134/"><img class="img-fluid w-100" src="assets/images/team/development/venkatD.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Venkateswara Rao Donepudi</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href=" https://www.linkedin.com/in/bhargavi-k-b0266415a/"><img class="img-fluid w-100" src="assets/images/team/development/bhargavi1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Bhargavi Kakani</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/palla-ashok-1639b814a/"><img class="img-fluid w-100" src="assets/images/team/development/ashok1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Ashok Palla</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>




        </div>

        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/venkat-n-8246211a4/"><img class="img-fluid w-100" src="assets/images/team/development/venkatn1.JPG">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Venkat N</h4>
                        <p class="text-center ">UI / UX Designer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/ramana-degala-554756132/ " title="Software Developer" alt="Software Developer" target="_blank">
                    <img class="img-fluid w-100" src="assets/images/team/development/ramana.PNG">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Ramana Degala</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/rakeshmanduri/"><img class="img-fluid w-100" src="assets/images/team/development/rakesh.jpeg" alt="Administrator">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Rakesh M</h4>
                        <p class="text-center ">Administrator</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/rama-krishna-7846201a4/"><img class="img-fluid w-100" src="assets/images/team/development/rk.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">RamaKrishna Parimi</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>


        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/ushakiran-buddi-354277167/" title="Software Developer" alt="Software Developer" target="_blank"><img class="img-fluid w-100" src="assets/images/team/development/ushakiran.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Usha Kiran Buddi</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/sony-mitresource-968275167/"><img class="img-fluid w-100" src="assets/images/team/development/sony1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Sony Pamarthi</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/tarak-ram-832095b8/"><img class="img-fluid w-100" src="assets/images/team/development/tarak1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Tarakaram Ankem</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/anil-pavuluri-5836231a4/">
                    <img class="img-fluid w-100" src="assets/images/team/development/anil.PNG">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Anil Pavuluri</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>






        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/narasimha-rao-vunnam-a6a824150/">
                    <img class="img-fluid w-100" src="assets/images/team/development/narasimha.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Narasimha Rao Vunnam</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/lakshmi-botta-190016a4/"><img class="img-fluid w-100" src="assets/images/team/development/lashmii1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Lakshmi Botta</h4>
                        <p class="text-center ">Junior Tester</p>

                    </div>

                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/rajesh-potnuri-aa589816a/"><img class="img-fluid w-100" src="assets/images/team/development/rajesh1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Rajesh Potnuri</h4>
                        <p class="text-center ">Junior Tester</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/lakshmi-k-b10165197/"><img class="img-fluid w-100" src="assets/images/team/development/laksmik1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Lakshmi Katari</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>




        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/anjaneyulu-ravi-158941195/"><img class="img-fluid w-100" src="assets/images/team/development/anjir.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Anjaneyulu Ravi</h4>
                        <p class="text-center ">JR Accounts Executive</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/prasanth-battula-a7b875176/"><img class="img-fluid w-100" src="assets/images/team/development/prasanth1.JPG">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Prasanth Battula</h4>
                        <p class="text-center ">Sales Lead</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href=" https://www.linkedin.com/in/suresh-rayani-a3261b1a4/"><img class="img-fluid w-100" src="assets/images/team/development/suresh1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Suresh Rayani</h4>
                        <p class="text-center ">Jr Business Anaylst</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/harshavardhan-reddy-167b03118/"><img class="img-fluid w-100" src="assets/images/team/development/harsha1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Harshavardhan Reddy B</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>







        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/anuradha-beenapati-5949a5112/"><img class="img-fluid w-100" src="assets/images/team/development/anuradha1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Anuradha Beenapati</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/srikanth-poorimetla-ba107213a/"><img class="img-fluid w-100" src="assets/images/team/development/srikanth1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Srikanth Poorimetla</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/lokesh-babu-mareedu-0879a9193/"><img class="img-fluid w-100" src="assets/images/team/development/lokesh1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Lokesh Babu Mareedu</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/mahesh-karnati-5266361a4/"><img class="img-fluid w-100" src="assets/images/team/development/mahesh1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Mahesh Karnati</h4>
                        <p class="text-center ">Software Developer</p>

                    </div>

                </div>
            </div>



        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/arup-pradhan-1276241a4/"><img class="img-fluid w-100" src="assets/images/team/development/default.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Arup Pradhan</h4>
                        <p class="text-center ">Marketing </p>

                    </div>

                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/anita-pradahan-0b292a1a4/"><img class="img-fluid w-100" src="assets/images/team/development/anitha.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Anita Pradhan</h4>
                        <p class="text-center ">Data Entry Operator</p>

                    </div>

                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/mohammad-yaseen-67aa5859/"><img class="img-fluid w-100" src="assets/images/team/marketing/yaseen1.JPG">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Yaseen</h4>
                        <p class="text-center ">Marketing Executive</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="https://www.linkedin.com/in/manikanta-k-96359921/"><img class="img-fluid w-100" src="assets/images/team/marketing/manikanta1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Manikanta</h4>
                        <p class="text-center ">Marketing Executive</p>

                    </div>

                </div>
            </div>

        </div>
        <div class="row mt-5">

            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="http://"><img class="img-fluid w-100" src="assets/images/team/marketing/raju1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">

                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Raju</h4>
                        <p class="text-center ">Marketing Executive</p>

                    </div>

                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <a class="tile" target="_blank" href="http://"><img class="img-fluid w-100" src="assets/images/team/marketing/Praveen Dukkidi Photo1.jpg">
                    <div class="details">
                        <span class="title">
							<i class="icon icon-linkedin sicon"></i>
						</span>
                    </div>
                </a>
                <div class="team-box">
                    <div class="team-info text-center ">
                        <h4 class="team-info-top font-weight-bold pt-2 mt-4 mb-0 ">Praveen Dukkidi</h4>
                        <p class="text-center ">Marketing Executive</p>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Join our team</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">Achieve your career goals and objectives through our support</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a href="contact.html" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>