<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <div class="picture-dba">
                    <picture class="chrome">
                        <source type="image/jpg " srcset="assets/images/futek-bg_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=jpg 960w, 
                        assets/images/futek-bg.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

                        assets/images/futek-bg_2880x800.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w
                        " sizes="(max-width: 1920px) 100vw, 1920px ">
                        <source srcset="assets/images/futek-bg_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=jpg 960w, 
                        assets/images/futek-bg.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

                        assets/images/futek-bg_2880x800.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w" sizes="(max-width: 1920px) 100vw, 1920px ">
                        <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/futek-bg_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=jpg 960w, 
                        assets/images/futek-bg.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

                        assets/images/futek-bg_2880x800.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w" src="assets/images/futek-bg.jpg?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel ">
                    </picture>
                    <img src="assets/images/futek-bg.jpg" class="img-fluid ie" alt="services-sec">
                    <div class="container">
                        <div class="cloud-service-boxsec futek">
                            <div class="magantiITdbservicespage magantITdb magantiITdbheadline text-center text-uppercase font-weight-bold">FUTEK

                            </div>

                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</section>

<section class="">
    <div class="container tech-development my-5 text-justify">
        <div class="row my-5">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h4 class="mit-red font-weight-bold mb-4">Manufacturing Services:</h4>
                <h5 class="mt-3">FUTEK – Time to modernize eCommerce site, Oracle suite, cloud platform</h5>
                <h5 class="mt-3 mb-3">Technology Consulting</h5>
                <p class="mb-2">FUTEK, a niche manufacturer of load cell, pressure, torque sensors reimagine to stand out in a competitive market, speed up its operations to meet evolving customer expectations, and warm up for the next stage of growth. The company started
                    the journey to modernize the ecommerce site, marketing platform and infrastructure to meet the customer needs.</p>
                <p class="mb-2">Maganti IT Resources started the journey with FUTEK to revamp ecommerce site, custom integration with Oracle suite of applications and automate their cloud infrastructure. Maganti IT collaboratively worked with them to improve User experience
                    and enhance brand visibility. The ongoing standardization and automation of IT support services has decreased infrastructure- provisioning time and the flexibility of IT operations made the company to meet changes of demand across
                    its business cycle.</p>
                <p class="mb-2">Maganti IT provided extensive expertise in process automation with custom integration and with seamless delivery. Our technology resilience and web designing skills delivered the following solutions and services to FUTEK:</p>

                <ul class="mt-3 ml-5">
                    <li>Ecommerce site implementation</li>
                    <li>Search Engine Optimization</li>
                    <li>Enhanced site performance and speed</li>
                    <li>Oracle EBS modules implementation</li>
                    <li>Avalara Tax Service integration</li>
                    <li>Azure Infrastructure - cloud computing service to maintain database and give access to data remotely</li>
                    <li>Data migration</li>
                    <li>Platform upgradation</li>
                    <li>Ongoing Back end and Infrastructure support</li>
                </ul>

            </div>
        </div>

        <!-- <div class="row my-5">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h4 class="mit-red font-weight-bold mb-4">Banking Services:</h4>
                <h5 class="mt-3 mb-3">Barclays - Risk, Regulatory and Controls compliance analytics platform</h5>

                <p class="mb-2">For one of the leading banks Barclays, Maganti IT Resources implemented a compliance analytics platform with digital transformation of Risk, Regulatory and Control analysis with the help of our expert team.</p>
                <p class="mb-2">Maganti IT resources partnered with the bank to develop a real time dashboard where they can analyze the risks, what regulatory controls and measures are implemented that incurred on every segment of operation. The dashboard helps
                    C-level executives to monitor and track, day to day business activities with visual representation. This helps the bank in managing their budget, fraudulent activities, improving compliance and decrease penalty costs.</p>


            </div>
        </div> -->

    </div>
</section>

<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>