<section class="mt-140 py-5 blog-employee">
    <div class="container">
        <div class="row">
            <div class="insights-sec">
                <div class="insights-heading">
                    <h4 class="text-left mb-2 py-5 text-dark fontSize">What our employees say</h4>

                </div>

            </div>


        </div>
        <div class="row">
            <div class="codepen-wrapper col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        If a house has strong foundation and pillars, the house stands the test of time. My experience with Maganti IT Resources, LLC has been akin to that. I have been working with them since 2017. After my graduation, I was lucky enough to find an employer
                        such as Maganti IT who guided me through each and every step to become a software professional. They are always there for me just like a family. I strongly recommend my employer as an option to those individuals who are looking
                        for a right guidance to establish their career in their respective fields.
                    </blockquote>
                    <figcaption class="review__person">

                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo" />
                        <div class="review__info">
                            <p class="review__info--name">Meghanath Nagulapalli</p>
                            <p class="review__info--date">Java Developer</p>
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        I worked for Maganti IT Resources, LLC for over for 6 years and so far, the experience had been nothing less than amazing. I can concentrate on the work and need not worry about anything- everything from visa filing- pay check- support, everything found
                        to be seamless. The Owner and the staff, especially HR were very professional and courteous in any matter I brought up with and tend to resolve quickly and amicably. I'd highly recommend MIT for any consultants that look for good
                        employer for Visa jobs/ Green Card filing to any project delivery in a timely manner.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Kishore V</p>
                            <p class="review__info--date"> Project Manager </p>
                        </div>
                        <div class="review__rating">5.0</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        Maganti IT Resources, LLC is a great company to work. I worked with them for 4 years and they always respect their employees and really care well. I have my I-140 approved from Maganti IT Resources, LLC. They have honest leader, excellent management,
                        great co-workers and friendly work culture. I learned a lot and never had any issues when I was working with them. I will definitely recommend Maganti IT Resources, LLC.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Milind Rahate</p>
                            <p class="review__info--date"> Programmer Analyst </p>
                        </div>
                        <div class="review__rating">4.8</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        I started my career with Maganti IT Resources, LLC (“MIT”) back in 2010. MIT is one of the most employee friendly places to work for. The culture is pretty good. Their pay structure is well designed and offers better than others. I don't think I could
                        have made the same $/hour with any other company that early in my career. MIT is very flexible in accommodating their employee needs. I still am in contact with most of the people in the office in CT and if I need any kind of assistance,
                        they will surely help me in any way they can.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Archit Patel</p>
                            <p class="review__info--date"> Agile Business Analyst </p>
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        I have been with Maganti IT Resources, LLC for some time now. Team of Maganti IT Resources, LLC are always motivating and supportive. It is really good to have Gita Poudel as our company HR Manager. She is very professional and she is the best at what
                        she does. I am really satisfied and will continue my relation with company in the future.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/siva.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Siva Kiran Nekkalapu</p>
                            <p class="review__info--date"> Application Developer </p>
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        I was an employee of Maganti IT Resources, LLC for nearly 2.5 years. The whole team at Maganti IT Resources, LLC are superb. I was not having a project for a while and whenever I reached out to Maganti HR or Marketing team, I realized I was talking to
                        someone who actually cared about my situation. When I got a project, they made sure they negotiate a fair rate. They are attentive, responsive and easy to work with. Also, I would like to take this opportunity to thank them for
                        all their efforts with my immigration matters. Overall, I am very pleased with Maganti IT Resources LLC’s support and team work.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Lakshmi Narayanan</p>
                            <p class="review__info--date"> QA Analyst </p>
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        I'm so glad and privileged being associated with MIT. Feeling proud and passionate to work with this management team. The respect, caring is top-notch. Such a professional company with positive responses always. Their vision / mission / culture / values
                        are well maintained across the organization. <span class="font-weight-bold">Wishing for great further success and many more achievements !!!</span>
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/naga_santhosh.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Naga Santosh Karumuri</p>
                            <p class="review__info--date"> Programmer Analyst </p>
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        My Journey with Maganti IT Resources, LLC I started by doing what was necessary; then I did what was possible; and suddenly I was doing the impossible. Magic Happens when you work at Maganti IT Resources, LLC.

                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/team/leader/kamran2.jpg" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Kamran Baig</p>
                            <p class="review__info--date"> Client Engagement Manager </p>
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        I worked for Maganti for about 8months, I am glad i decided to work for them, the whole team does a really good job. They are very professional and stay on top of things to get the work done. I strongly recommend Maganti IT Resources, LLC. Good Luck Guys!
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Mounica Venigalla </p>
                            <!-- <p class="review__info--date"> Client Engagement Manager </p> -->
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        They provide great support and guidance. The motivation provided by Maganti really helped me in my career. I am very glad that I chose Maganti IT Resources, LLC.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Tulasi Vundavally</p>
                            <p class="review__info--date"> Java Developer </p>
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        I came to know about Maganti IT Resources, LLC through a job application on LinkedIn for a BA position. It took a couple of months to get confirmed by the hiring Manager to start the project, but I appreciate all the support provided to me in interview
                        preparation, and H1b transfer by Sushma Maganti. The marketing is also good and had an interview within 30 days. Gita (HR Manager) was very supportive in keeping me informed about every step in visa transfer and helped in every
                        step. Average pay but it was always on time. I referred a friend to the company when he lost his full-time job and is currently working here.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">M. Shah</p>
                            <p class="review__info--date"> Business Analyst</p>
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        Working with Maganti IT Resources, LLC has been much more than an employer-employee relationship
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/rahul.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Rahul Ramkumar</p>
                            <p class="review__info--date"> Network Engineer</p>
                        </div>
                        <div class="review__rating">5.0</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <figure class="review">
                    <blockquote class="review__text">
                        They were diligent in arranging interviews and allocating in the best assignments. The HR support is very good and prompt in getting papers submitted in a timely fashion. I had a very good experience in client interviews and working in different client
                        locations. Name it for Mr.Maganti, Mr. Rathod, Gita- they are so considerate about every employee and I cherish the awesome experience. Due to personal reasons, I had to leave MIT in less than the year 2014, but the journey was
                        indeed wonderful and worth sharing. I have referred 4-5 friends of mine over the last few years.
                    </blockquote>
                    <figcaption class="review__person">
                        <img src="assets/images/employee_reviews/user.png" alt="User 1" class="review__photo">
                        <div class="review__info">
                            <p class="review__info--name">Swapna Dhandapani</p>
                            <p class="review__info--date">Programmer Analyst</p>
                        </div>
                        <div class="review__rating">4.9</div>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>