<section class="mt-140 h-1135">
    <div class="location-map">
        <div class="contact">
            <div class="container">
                <div class="contact-form-sec">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12 col-xl-7 contact-left">
                            <div class="contact-form">
                                <div class="heading">
                                    <h2>Let's start a<span class="font-bold pink-text ml-3">conversation.</span></h2>
                                    <p class="lg">Send us your query and you will hear from one of our experts soon. </p>
                                </div>

                                <form class="card-body py-4" novalidate="" action="" method="" id="bootstrapForm">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="h6 form-control-label" for="input1">Name<abbr class="text-danger" title="This is required">*</abbr></label>
                                                <input type="text" class="form-control" name="i1" placeholder="Please enter a name" id="input1" required>
                                                <div class="valid-feedback">Name looks good</div>
                                                <div class="invalid-feedback">Please enter your name. This field is required</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label class="h6 form-control-label" for="input1">Phone<abbr class="text-danger" title="This is required">*</abbr></label>
                                                <input type="tel" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" name="phone" id="input3" required>
                                                <div class="valid-feedback">Phone # looks good</div>
                                                <div class="invalid-feedback">Please enter a phone # like 123-456-7890. This field is required.</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="h6 form-control-label" for="input1">Email<abbr class="text-danger" title="This is required">*</abbr></label>
                                        <input type="email" placeholder="test@gmail.com" class="form-control" name="email" id="input2" required>
                                        <div class="valid-feedback">Email looks good</div>
                                        <div class="invalid-feedback">Please enter an email. This field is required.</div>
                                    </div>

                                    <div class="form-group">
                                        <label class="h6 form-control-label" for="input3">Subject<abbr class="text-danger" title="This is required">*</abbr></label>
                                        <input type="text" placeholder="subject" class="form-control" name="subject" id="input4" required>
                                        <div class="valid-feedback">Subject looks good.</div>
                                        <div class="invalid-feedback">Please enter a subject. This field is required.</div>
                                    </div>

                                    <div class="form-group">
                                        <label class="h6 form-control-label" for="input3">Message</label>
                                        <textarea name="message" id="text" cols="3" rows="3" class="form-control"></textarea>

                                    </div>



                                    <div>
                                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                                    </div>

                                </form>

                                <div class="request-bottom">
                                    <div class="secure-icon">
                                        <i class="fa fa-user-secret"></i>
                                    </div>
                                    <div class="content-area">
                                        <h3>WE <span>GUARANTEE 100% SECURITY</span> OF YOUR INFORMATION</h3>
                                        <p>We respect your privacy and do not tolerate spam and will never sell, rent, lease or give away your information (name, address, email, etc.) to any third party. Nor will we send you unsolicited email.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12 col-xl-5 contact-right light-bg px-0">
                            <img src="assets/images/contact.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="title-contect py-5 pb-2">
                <h2 class="text-center font-size">
                    Maganti IT Resources, LLC strive on supporting communities, clients and local business leaders.
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="pb-5">

    <div id="site-canvas" class="ease-in-out">
        <div class="main-content">
            <div class="main-content-inner">
                <!-- <div class="container">
                        <div class="page-content">
                            <h1 class="page-title large-title text-center">Locations</h1>
                            <div class="text"></div>
                        </div>
                    </div> -->
                <div class="contact-locations">
                    <div class="contact-location-slider-wrapper">
                        <div class="contact-location-slider">
                            <div class="contact-location" data-num="1">
                                <div class="contact-location-inner">
                                    <div class="contact-location-map-image cover slideUp" style="background-image:url('assets/images/location-3.png'); background-size:cover;"></div>
                                    <div class="contact-location-map">
                                        <div class="acf-map noSwipe">
                                            <!-- <div class="marker" data-lat="41.487666" data-lng="-73.0594007"></div> -->
                                        </div>
                                    </div>
                                    <div class="contact-location-info">
                                        <a href="https://goo.gl/maps/YcBp7CqdTFnUxvGN6" target="_blank" class="map-type-switch active" data-wpel-link="internal"></a>
                                        <h2>CONNECTICUT</h2>
                                        <p class="mb-2">5 Meadow Street, Suite 201,
                                            <br/> Naugatuck, CT 06770,<br>USA (Main Headquarter)</p>
                                        <p><a href="tel:1-855-217-4637"><i class="icon icon-phone mr-2"></i>1-855-217-4637</a></p>
                                        <p><a href="mailto:info@mitresource.com" class="contact-location-email"><i class="icon icon-email-envelope mr-2"></i>info@mitresource.com</a></p>
                                        <p><a href="mailto:hr@mitresource.com" class="contact-location-email"><i class="icon icon-email-envelope mr-2"></i>hr@mitresource.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-location" data-num="2">
                                <div class="contact-location-inner">
                                    <div class="contact-location-map-image cover slideUp" style="background-image:url('assets/images/view-1.webp'); background-size:cover;"></div>
                                    <div class="contact-location-map">
                                        <div class="acf-map noSwipe">
                                            <!-- <div class="marker" data-lat="16.509001" data-lng="80.6606773"></div> -->
                                        </div>
                                    </div>
                                    <div class="contact-location-info">
                                        <a href="https://g.page/MAGANTIIT?share" class="map-type-switch active" data-wpel-link="internal"></a>
                                        <h2>VIJAYAWADA
                                        </h2>
                                        <p class="mb-2">D.NO:54-16-8/17, Venkateswara Nagar,<br /> Behind Vinayaka Theatre<br /> Vijayawada-520008, Andhra Pradesh, INDIA<br /></p>
                                        <p><a href="tel:9959372188" class="contact-location-email"><i class="icon icon-phone mr-2"></i>9959372188</a></p>
                                        <p><a href="mailto:vsk@mitresource.com" class="contact-location-email"><i class="icon icon-email-envelope mr-2"></i>vsk@mitresource.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-location" data-num="3">
                                <div class="contact-location-inner">
                                    <div class="contact-location-map-image cover slideUp" style="background-image:url('assets/images/view-2.webp'); background-size:cover;"></div>
                                    <div class="contact-location-map">
                                        <div class="acf-map noSwipe">
                                            <!-- <div class="marker" data-lat="16.7120087" data-lng="81.0959165"></div> -->
                                        </div>
                                    </div>
                                    <div class="contact-location-info">
                                        <a href="https://goo.gl/maps/qQh7fa6Rv34TcGxz9" class="map-type-switch active" data-wpel-link="internal"></a>
                                        <h2>ELURU</h2>
                                        <p class="mb-2">D-NO:23A-2-29, Panugantivari Street,<br /> R.R.Peta,<br /> ELURU – 534002, Andhra Pradesh, INDIA</p>
                                        <p><a href="tel:9959372188" class="contact-location-email"><i class="icon icon-phone mr-2"></i>9959372188</a></p>

                                        <p><a href="mailto:hr@mitresource.com" class="contact-location-email"><i class="icon icon-email-envelope mr-2"></i>hr@mitresource.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-location" data-num="4">
                                <div class="contact-location-inner">
                                    <div class="contact-location-map-image cover slideUp" style="background-image:url('assets/images/nice_office1.webp'); background-size:cover;"></div>
                                    <div class="contact-location-map">
                                        <div class="acf-map noSwipe">
                                            <!-- <div class="marker" data-lat="17.4218297" data-lng="78.4564718"></div> -->
                                        </div>
                                    </div>
                                    <div class="contact-location-info">
                                        <a href="https://goo.gl/maps/9xJYC1R7ZvaTAym17" class="map-type-switch active" data-wpel-link="internal"></a>
                                        <h2>HYDERABAD</h2>
                                        <p class="mb-2">Aruna Towers,H No6-3-661/10/1&10/2 Flat NO:601, Sangeeth<br /> Nagar,Somajiguda,<br /> Hyderabad 500082, Telangana, INDIA</p>
                                        <p><a href="tel:9959372188" class="contact-location-email"><i class="icon icon-phone mr-2"></i>9959372188</a></p>
                                        <p><a href="mailto:vsk@mitresource.com" class="contact-location-email"><i class="icon icon-email-envelope mr-2"></i>vsk@mitresource.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="location-prev" data-wpel-link="internal"></a>
                        <a href="javascript:void(0)" class="location-next" data-wpel-link="internal"></a>
                    </div>
                    <div class="contact-locations-tabs">
                        <div class="container-fluid px-5">
                            <ul class="clearfix">
                                <li class="active"><a href="#location1" data-num="1">CONNECTICUT</a></li>
                                <li><a href="#location2" data-num="2">VIJAYAWADA</a></li>
                                <li><a href="#location3" data-num="3">ELURU</a></li>
                                <li><a href="#location4" data-num="4">HYDERABAD</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</section>