<div class="container-fluid training-bg parallax">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <div class="train_overlay">
                    <h3 class="mb-5 text-white" style="line-height: 1.5;">We offer unique learning experiences for the next generation by our professionals through SPARKMINDS</h3>
                    <a href="mailto:info@mitresource.com" class="btn btn-outline-light mt-1 rounded-0 py-3 px-4 drop-resume"> Drop Your Resume</a>
                    <span class="drop_msg"><i class="far fa-envelope"></i></span>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        </div>
    </div>
</div>

<div class="container-fluid bg-blue text-white py-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div>
                    <div class="my-4"><span><i class="fas fa-headset font35 text-yel"></i></span></div>
                    <h5 class="font-weight-bold mb-2">Ask our Advisors</h5>
                    <p class="mb-0">Please drop us a email or Call us</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div>
                    <div class="my-4"><span><i class="far fa-envelope font35 text-yel"></i></span></div>
                    <h5 class="font-weight-bold mb-2">Achieve Career Goals</h5>
                    <p class="mb-3 mb-lg-0">Submit Your Resume, to join training</p>
                </div>
            </div>
            <div class="col-lg-4 px-0">
                <div class="p-4 bg-white getTraining">
                    <h5 class="mit-red mb-3 font-weight-bold">Training Information</h5>
                    <p class="text-blue mb-1"><span class="font-weight-bold">Email:</span> <a href="mailto:info@mitresource.com">info@mitresource.com</a></p>
                    <p class="text-blue mb-1"><span class="font-weight-bold">Phone:</span> +91 9546853156, 9653553556</p>
                    <p class="text-blue"><span class="font-weight-bold">Toll Free:</span>
                        <a href="tel:1-855-217-4637">1-855-217-4637</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <p class="py-5 text-justify training">
        SPARKMINDS is a program conducted by Maganti IT Resources, through which young minds are trained and sculpted. Internships are provided to students to shape their career. We give immersive learning across entire software cycle to freshers and provide
        placements according to their interest and skillset.
    </p>
    <div class="row ">
        <div class="col-lg-6">
            <img src="assets/images/train-step1.webp" class="img-fluid w-100" alt="">
        </div>
        <div class="col-lg-6">
            <div class="" style="padding: 75px 60px;">
                <h5 class="mit-red font-weight-bold mb-4">INTERNSHIP</h5>
                <p class="mb-4 text-justify">Provides a valuable insight and help you to choose a desired career path</p>
                <p class=" text-justify">It is open and secured platform for people who seek live experience through Internship. We conduct seminars, workshops and interviews in colleges, from where we find skilled, interested and passionate people in Software/ IT Industry.</p>
            </div>
        </div>
    </div>

    <div class="row my-5">

        <div class="col-lg-5">
            <div class="meetup">
                <h5 class="mit-red font-weight-bold mb-4">MEETUP</h5>
                <p class="mb-4  text-justify">Creates a platform to share your interests and connect with people.</p>
                <p class=" text-justify">Through this program one can encounter people who have expertise in their respective fields and grasp knowledge from them. Also, you can come across with people having same mindset and seeking career in same platform. This experience creates
                    a path to achieve career goal.</p>
            </div>
        </div>
        <div class="col-lg-7">
            <img src="assets/images/train-step2.webp" class="img-fluid w-100" alt="">
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-7">
            <img src="assets/images/train-step3.webp" class="img-fluid w-100" alt="">
        </div>
        <div class="col-lg-5">
            <div class="" style="padding: 110px 60px;">
                <h5 class="mit-red font-weight-bold mb-4">TRAININGS</h5>
                <p class="mb-4 text-justify">Identifies your passion and build a career path to achieve your goal.</p>
                <p class=" text-justify">Candidates will be trained with our senior employees and get opportunity to work on live projects once the training is completed. Also, we train experienced people who seek to learn new skills and work on new platforms.</p>
            </div>
        </div>
    </div>
</div>

<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a href="contact.html" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>