<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture class="chrome">
                    <source type="image/webp " srcset="assets/images/services/application_services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
                        assets/images/services/application_services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
                        assets/images/services/application_services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
                     
                        assets/images/services/application_services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
                        assets/images/services/application_services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/services/application_services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
                        assets/images/services/application_services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
                        assets/images/services/application_services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
                       
                        assets/images/services/application_services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
                        assets/images/services/application_services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/services/application_services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
                        assets/images/services/application_services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
                        assets/images/services/application_services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
                       
                        assets/images/services/application_services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
                        assets/images/services/application_services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " title="Maganit IT Guild Carousel" src="assets/images/services/application_services_1960x400.jpg?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel ">
                </picture>
                <img src="assets/images/services/application_services_1920x400.jpg" class="img-fluid ie" alt="Maganti IT Resources, LLC Application Development Services" title="Maganti IT Resources, LLC Application Development Services">
                <!-- <div class="overlap-text w-100 " >
                        <h2 class="text-center ">MIT JOURNEY</h2>
                    </div> -->

            </div>

        </div>
    </div>
</section>

<div class="container tech-development my-5 text-justify">
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="mit-red font-weight-bold mb-4">Application Development Services</h4>
            <p>You have your thought and we have expert minds who can change that idea into reality. Our teams of developers are capable of delivering complicated projects which supports Windows, Linux and iOS. We are not selling you solutions; we are selling
                a dream of better business processing. At Maganti IT solutions, we transform traditional portfolios to flexible, modular applications. Through these applications we provide enhanced business alignment, customer engagement and return on
                investment.
            </p>
            <h5 class="mt-3">We offer below Application Development Services</h5>
        </div>
    </div>

</div>
<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>E-commerce</h4>
                <p>Maganti IT Resources offer clients customized E-commerce storefront with high performance to meet your business goals and requirements. We help you optimize your online site with quick sale of productsand reach wider target audience by
                    using following platforms.
                </p>
                <ul class="px-4">
                    <li>Shopify</li>
                    <li>Magneto</li>
                    <li>WooCommerce & WordPress</li>
                    <li>Squarespace</li>


                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/e-commerce.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid px-0 devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/web_development_illustration.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Custom Web application development</h4>
                <p>We build custom designed web applications along with valued consulting and analysis solutions based on your requirements using latest technologies and frameworks.
                </p>
                <ul class="px-4">
                    <li>Cross-platform apps</li>
                    <li>E-commerce solutions</li>
                    <li>Web portal development</li>
                    <li>Custom CMS web development</li>
                    <li>Technology consulting</li>
                </ul>
            </div>

        </div>
    </div>

</div>
<!-- <div class="container-fluid px-0 bg-light devSoft">
        <div class="container devSoftpadding">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h4>Digital marketing</h4>
                    <p>Maganti IT is a dynamic, versatile and full-service digital marketing agency that doesn’t rely on smoke and mirrors to attract new clients. Instead, Maganti IT trusts its own SEO and marketing skills to drive new customers to our website.
                    </p>
                    <p>We’re not a static company. We don’t limit ourselves to specific industries. Maganti IT has the experience and professionals to build a custom website and use multiple digital marketing services to assist any size company in any industry.</p>
                    <ul class="px-4">
                        <li>Search Engine Optimization (SEO)</li>
                        <li>Social Media Marketing
                        </li>
                        <li>Content Writing</li>
                        <li>Reputation Management</li>
                        <li>Conversion Optimization</li>
                        <li>Web Hosting</li>
                        <li>Email Marketing</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <img src="assets/images/digitial_market.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </div> -->
<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Open source development</h4>
                <p>Develop the most challenging and innovative web properties and applications using scalable open-source development platforms with highly advanced open-source development technology.
                </p>
                <p>Open new opportunities in the web and app landscapes with our open-source development services. We have rich experience and deep domain expertise in delivering open-source web and app development solutions.</p>
                <ul class="px-4">
                    <li class="text-lowercase">STRATEGY / IMPLEMENTATION</li>
                    <li class="text-lowercase">ARCHITECTURAL CONSULTING</li>
                    <li class="text-lowercase">APPLICATION DEVELOPMENT</li>
                    <li class="text-lowercase">SUPPORT & MAINTENANCE</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/open-source.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid px-0  devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-center">
                <img src="assets/images/kisspng-user.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>UI/UX Design</h4>
                <p>With new digital products coming every hour it is difficult to stand out of crowd in competitive market. User is the final judge of the design and experience, so we handcraft beautiful UI/UX designs based on client’s vision and goals.
                </p>
                <ul class="px-4">
                    <li>Interactive design</li>
                    <li>Experience design</li>
                    <li>Testing and audit</li>
                    <li>Security Management</li>
                </ul>
            </div>

        </div>
    </div>

</div>

<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-center">
                <img src="assets/images/app_mode.png" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>App modernization</h4>
                <p>Continuously modernize your applications to support business changes. We suggest you with best methodologies and tools to assess your application portfolio and identify the best approach for modernization. Modernization gives your legacy
                    app the benefits of cloud, speed, performance, scale, new feature development, etc.
                </p>

            </div>

        </div>
    </div>

</div>

<section class="development-proc">
    <div class="container ">
        <h3 class="text-center py-5 theme-blue">Development Process</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Analysis of Requirements</h3>
                            <p class="description">
                                Getting to know our clients

                            </p>
                            <p class="description"> Comprehend clients’ requirements
                            </p>
                            <p class="description"> Propose the perfect solution</p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa fa-id-card"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Wireframing & Designing</h3>
                            <p class="description">
                                Create a blueprint structure

                            </p>
                            <p class="description"> Create wireframes for each screen
                            </p>
                            <p class="description"> Design after the client’s approval</p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Development of the app</h3>
                            <p class="description">
                                App developers start coding
                            </p>
                            <p class="description">
                                Layout main sections
                            </p>
                            <p class="description">
                                Finish according to clients’ feedback
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa fa-check"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Testing</h3>
                            <p class="description">
                                Application testing
                            </p>
                            <p class="description">
                                100% bug-free
                            </p>
                            <p class="description">
                                Get final approval from client
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Deployment</h3>
                            <p class="description">
                                Deploy(App Launch) to App Stores
                            </p>
                            <p class="description">
                                Deploy to client’s server
                            </p>
                            <p class="description">
                                App available for users
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq bg-light">
    <div class="container">
        <div class="faq-title">
            <h2>FAQs</h2>
        </div>
        <ul class="faq-list">
            <li data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                <a data-toggle="collapse" class="collapsed" href="#faq1" aria-expanded="false"> Do you sign a Non-disclosure Agreement? <i class="fas fa-arrow-up"></i></a>
                <div id="faq1" class="collapse" data-parent=".faq-list">
                    <p>
                        Yes, being a leading mobile app development agency, we sign a non-disclosure agreement with all the clients.

                    </p>
                </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
                <a data-toggle="collapse" href="#faq2" class="collapsed"> Will you provide documentation for my solution or mobile app development? Do I own the code? <i class="fas fa-arrow-up"></i></a>
                <div id="faq2" class="collapse" data-parent=".faq-list">
                    <p>
                        Yes, we provide complete documentation for the mobile app software or solution that we develop for your business. At the end of the project, you own the code of your app or mobile solution.
                    </p>
                </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate">
                <a data-toggle="collapse" href="#faq3" class="collapsed"> What are the different features that you have integrated into the mobile apps developed by you? <i class="fas fa-arrow-up"></i></a>
                <div id="faq3" class="collapse" data-parent=".faq-list">
                    <p>
                        We have integrated a range of latest and unique features in the mobile applications as demanded by our clients. Here are some of the must-have features we have integrated into the apps:
                    </p>
                    <ul class="px-4">
                        <li>Payment Gateway Integration</li>
                        <li>Map Integration</li>
                    </ul>
                </div>
            </li>


        </ul>
    </div>
</section>



<section class="bg-blue">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>