<section class="mt-140 py-5 blog">
    <div class="container">
        <div class="row">
            <div class="insights-sec">
                <div class="insights-heading">
                    <h4 class="text-left mb-2 text-dark fontSize">Future of technology with COVID-19</h4>
                    <div class="post-date">
                        <p><i class="fa fa-clock-o"></i><span>May 09, 2020 </span></p>
                        <p><i class="fa fa-eye"></i> <span>01</span></p>
                        <p><i class="fa fa-user"></i> <span>By Tejaswini Kolli, Senior Analyst & Market Data Associate</span></p>
                    </div>
                </div>

            </div>

            <div class="img-sec mt-3">
                <picture>
                    <source type="image/webp " srcset="assets/images/covid_400x250.webp?w=480&amp;h=250&amp;q=75&amp;fm=webp 480w, 
					assets/images/covid_900x600.webp?w=960&amp;h=600&amp;q=75&amp;fm=webp 960w, 
					assets/images/covid-19-image.webp?w=1920&amp;h=533&amp;q=75&amp;fm=webp
										1920w, assets/images/covid_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w,
										assets/images/covid_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw,
										1920px ">
                    <source srcset="assets/images/covid_400x250.webp?w=480&amp;h=250&amp;q=75&amp;fm=webp 480w, 
					assets/images/covid_900x600.webp?w=960&amp;h=600&amp;q=75&amp;fm=webp 960w, 
					assets/images/covid-19-image.webp?w=1920&amp;h=533&amp;q=75&amp;fm=webp
										1920w, assets/images/covid_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w,
										assets/images/covid_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/covid_400x250.webp?w=480&amp;h=250&amp;q=75&amp;fm=webp 480w, 
					assets/images/covid_900x600.webp?w=960&amp;h=600&amp;q=75&amp;fm=webp 960w, 
					assets/images/covid-19-image.webp?w=1920&amp;h=533&amp;q=75&amp;fm=webp
										1920w, assets/images/covid_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w,
										assets/images/covid_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w" alt="Maganit IT Insights ">
                </picture>

            </div>
            <div class="insights-pessage mt-3">
                <p class="text-justify">In this era, organizations should build strong foundations for their digital technologies, should optimize resources, embrace risk and create value. Needless to say every industry is going to undergo digital transformation. Post Covid-19,
                    there would be continued demand for cloud infrastructure services and specialized software. Increased work from home and online courses will boost demand for security software’s, communication equipment and telecom services. There
                    will be huge demand for automation and Information Technology will play a huge role in Business continuity plan to provide procuring devices, setting up flexible, secure and robust systems with security. There will be more increase
                    in teleconferencing software’s and more demand for faster access to dataleading to adoption of 5G technologies.</p>
                <p class="text-justify">There is other side of coin too, firstly, before changing the business plan to attract and retain clients for new demand one should consider falling business travel. So organizations should quickly create a framework for analysis and decision-making
                    before competitors grab over the market share. Secondly, Cybersecurity risks are to increase as more employees are working remotely. Cyber platforms supporting work from homes should be built up faster to avoid such kind of risks.
                    Technology support might fight initially to increased customer requirements on applications and services.Online video streaming, digital services, e-learning, digital payments, e-health are selling a boom, but this spike might not
                    sustain as this pandemic is going to ease in near future.</p>
                <p class="text-justify">Considering all these, the strong drive for companies will be how their businesses adapt to new normal and will transform from product-led to purpose-led.</p>
            </div>
        </div>
    </div>
</section>