<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <div class="picture-dba">
                    <picture class="">
                        <source type="image/jpg " srcset="assets/images/case_study/curorc_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=jpg 960w, 
							assets/images/case_study/curorc_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
	
							assets/images/case_study/curorc_2880x800.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w
							" sizes="(max-width: 1920px) 100vw, 1920px ">
                        <source srcset="assets/images/case_study/curorc_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=jpg 960w, 
							assets/images/case_study/curorc_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
	
							assets/images/case_study/curorc_2880x800.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w" sizes="(max-width: 1920px) 100vw, 1920px ">
                        <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/case_study/curorc_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=jpg 960w, 
							assets/images/case_study/curorc_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
	
							assets/images/case_study/curorc_2880x800.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w" src="assets/images/case_study/curorc_1920x400.jpg" alt="Maganit IT Guild Carousel " title="Maganit IT Guild Carousel">
                    </picture>
                    <!-- <img src="assets/images/case_study/curorc_1920x400.jpg" class="img-fluid ie" alt="services-sec" title="curorc"> -->
                    <div class="container">
                        <div class="cloud-service-boxsec futek mt-3">
                            <div class="magantiITdbservicespage magantITdb magantiITdbheadline text-center text-uppercase font-weight-bold">BOOST GROWTH AND GET BACK ON THE MAT

                            </div>

                            <div class="magantiITdbservicespage mt-2  magantiITdbbody font-weight-bold text-center text-white">Take charge of your martial arts school with curoRC's simple, lean and intuitive all-in-one management software.
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</section>

<section class="">
    <div class="container tech-development my-5 text-justify">
        <div class="row my-5">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h4 class="mit-red font-weight-bold mb-4">CuroRC- Update with this SaaS product to stay relevant</h4>

                <p class="mb-2">CuroRC is all in one Class Management Software Solution for Studios and Associations offering multi- faceted platform. The software supports multiple business owners benefitting to operate their business from anywhere and any device, making
                    it faster, convenient, more secure, and less expensive while removing manual processes at the same time. The development of this SaaS solution was stimulated from the needs and challenges faced by a martial arts studio. Successively,
                    the product was designed to meet the need of customers in this industry and can be customized based on further requirements.</p>
                <p class="mb-2">Maganti IT Resources started the journey with FUTEK to revamp ecommerce site, custom integration with Oracle suite of applications and automate their cloud infrastructure. Maganti IT collaboratively worked with them to improve User experience
                    and enhance brand visibility. The ongoing standardization and automation of IT support services has decreased infrastructure- provisioning time and the flexibility of IT operations made the company to meet changes of demand across
                    its business cycle.</p>
                <p class="mb-2">Maganti IT provided extensive expertise in process automation with custom integration and with seamless delivery. Our technology resilience and web designing skills delivered the following solutions and services to FUTEK:</p>
                <h4 class="mit-red font-weight-bold mb-4">CuroRC offers the following features</h4>
                <ul class="mt-3 ml-5">
                    <li>Customer Management</li>
                    <li>Self Service Registration</li>
                    <li>Multiple Studio Management</li>
                    <li>Employee and Instructor Management</li>
                    <li>Student &amp; Attendance Management</li>
                    <li>Pricing Plans &amp; Subscription Management</li>
                    <li>Payment system (PCI compliance)</li>
                    <li>Tournament Management</li>
                    <li>Business Analytic Reports</li>
                    <li>Text messaging integration</li>
                    <li>Online Shopping cart and class booking</li>
                    <li>Member portal</li>
                </ul>

            </div>
        </div>



    </div>
</section>


<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>



            </div>
            <div class="row mt-3">
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>
            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>