<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture>
                    <source type="image/webp " srcset="assets/images/services/tech_staffing_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/tech_staffing_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/tech_staffing_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

					assets/images/services/tech_staffing_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/tech_staffing_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/services/tech_staffing_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/tech_staffing_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/tech_staffing_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

					assets/images/services/tech_staffing_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/tech_staffing_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/services/tech_staffing_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/tech_staffing_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/tech_staffing_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
				  
					assets/images/services/tech_staffing_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
                    assets/images/services/tech_staffing_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="assets/images/services/tech_staffing_1920x400.jpg?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel " title="Maganit IT Guild Carousel ">
                </picture>

                <!-- <div class="overlap-text w-100 " >
					<h2 class="text-center ">MIT JOURNEY</h2>
				</div> -->

            </div>
            <div class="row mb-5">
                <div class="innerContent ">
                    <div class="inner ">
                        <div class="section-content ">
                            <p>We at Maganti IT Resources will understand your company needs and provide professional IT workforce solutions. Our goal is to provide companies with the talent they need and to place high caliber candidates into positions where
                                they are set up for success.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container tech-staffing text-justify">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="assets/images/app-staff.webp" class="img-fluid w-100 chrome" alt="Application Services" title="Application Services">
            <img src="assets/images/app-staff.jpg" class="img-fluid w-100 ie" alt="Application Services" title="Application Services">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="headerBorder navDropdownShadow app-services">
                <h5 class="mit-red font-weight-bold mb-4">Application Development Services</h5>
                <p class="mb-3">Assists in development of applications, software’s and their maintenance.</p>
                <div>
                    <ul>
                        <li>Mobile application </li>
                        <li>Hybrid application </li>
                        <li>Web application </li>
                        <li>Enterprise applications</li>
                        <li>API framework</li>
                        <li>Migration Strategy</li>
                        <li>Back-end Development</li>
                        <li>Testing implementation and integration</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-7 col-lg-5 col-xl-5">
            <div class="headerBorder navDropdownShadow project-mge">
                <h5 class="mit-red font-weight-bold mb-4">Project Management</h5>
                <p class="mb-3">Supports end to end business process to achieve project goals.</p>
                <div>
                    <ul>
                        <li>Business Intelligence</li>
                        <li> Process and quality management</li>
                        <li> Transition Management</li>
                        <li> Program Management</li>
                        <li> Server Management</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-7 col-xl-7">
            <img src="assets/images/Project-Management.webp" class="img-fluid w-100 chrome" alt="Project-Management Services" title="Project-Management Services">
            <img src="assets/images/Project-Management.jpg" class="img-fluid w-100 ie" alt="Project-Management Services" title="Project-Management Services">
        </div>
    </div>

    <div class="row py-5">
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <img src="assets/images/Data-Management.webp" class="img-fluid w-100 chrome" alt="Data-Management Services" title="Data-Management Services">
            <img src="assets/images/Data-Management.jpg" class="img-fluid w-100 ie" alt="Data-Management Services" title="Data-Management Services">
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <div class="headerBorder navDropdownShadow data-mge">
                <h5 class="mit-red font-weight-bold mb-4">Data Management</h5>
                <p class="mb-3">Supports in processing and storing in data to improve performance.</p>
                <div>
                    <ul>
                        <li>Data Architecture</li>
                        <li>Database administration and management</li>
                        <li>Data modeling and mining</li>
                        <li> Enterprise data warehouse</li>
                        <li>Reference and master data</li>
                        <li> Business Analytics</li>
                        <li>Data integration and security</li>
                        <li> Data quality and support</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="headerBorder navDropdownShadow ui-interface">
                <h5 class="mit-red font-weight-bold mb-4">User Interface Design</h5>
                <p class="mb-3">Assists in developing user experience and designs.</p>
                <div>
                    <ul>
                        <li>Generation tools</li>
                        <li>Framework</li>
                        <li>Scripting</li>
                        <li>Mockup</li>
                        <li>Front-end development</li>
                        <li>Rapid prototyping</li>
                        <li>Crowd sourced design</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <img src="assets/images/ui-ux.webp" class="img-fluid w-100 chrome" title="UI / UX Services" alt="UI / UX Services">
            <img src="assets/images/ui-ux.jpg" class="img-fluid w-100 ie" alt="UI / UX Services" title="UI / UX Services">
        </div>
    </div>

    <div class="row py-5">
        <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
            <img src="assets/images/art-int.webp" class="img-fluid w-100 chrome" alt="Artificial Intiligent" title="Artificial Intiligent">
            <img src="assets/images/art-int.jpg" class="img-fluid w-100 ie" alt="Artificial Intiligent" title="Artificial Intiligent">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">

            <div class="headerBorder navDropdownShadow art-int">
                <h5 class="mit-red font-weight-bold mb-4">Artificial Inteligence</h5>
                <p class="mb-3">Supports in bridging AI skills gap and deal with data issues.</p>
                <div>
                    <ul>
                        <li>Robotics</li>
                        <li> Reinforcement</li>
                        <li>Graphical models</li>
                        <li>Model deployment</li>
                        <li>Predictive analytics and statistics</li>
                        <li>Marketing optimization</li>
                        <li>Cognitive Automation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
            <div class="headerBorder navDropdownShadow ui-interface">
                <h5 class="mit-red font-weight-bold mb-4">Security Services</h5>
                <p class="mb-3">Help protecting your digital assets from theft or damage.</p>
                <div>
                    <ul>
                        <li>Network security</li>
                        <li>Infrastructure security</li>
                        <li>Application security</li>
                        <li>Identity &amp; access management</li>
                        <li>Data Security &amp; Privacy</li>
                        <li>Advanced threat protection</li>
                        <li>End point security</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-8 col-xl-8">
            <!-- <div class="headerBorder navDropdownShadow sec-services"> -->
            <img src="assets/images/sec-services.webp" class="img-fluid w-100 chrome" alt="Security Services" title="Security Services">
            <img src="assets/images/sec-services.png" class="img-fluid w-100 ie" alt="Security Services" title="Security Services">

        </div>
    </div>
    <div class="row py-5">
        <div class="col-12 col-sm-12 col-md-7 col-lg-9 col-xl-9">
            <img src="assets/images/cloud-serv.webp" class="img-fluid w-100 chrome" alt="Cloud Computing Services" title="Cloud Computing Services">

            <img src="assets/images/cloud-serv.jpg" class="img-fluid w-100 ie" alt="Cloud Computing Services" title="Cloud Computing Services">
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-3 col-xl-3">
            <div class="headerBorder navDropdownShadow cloud-services">
                <h5 class="mit-red font-weight-bold mb-4">Cloud Services</h5>
                <p class="mb-3">Help lower your operating costs, run your infrastructure more efficiently and scale as your business needs change.</p>
                <div>
                    <ul>
                        <li>Automation</li>
                        <li> Server Management</li>
                        <li> Storage Administration</li>
                        <li>Database Management</li>
                        <li>Networking</li>
                        <li>Software update and maintenance</li>
                        <li>Analytics and intelligence</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>