<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture>
                    <source type="image/webp " srcset="assets/images/services/services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

					assets/images/services/services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/services/services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

					assets/images/services/services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/services/services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
				
					assets/images/services/services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="assets/images/services/services_1960x400.jpg?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel ">
                </picture>

                <!-- <div class="overlap-text w-100 " >
					<h2 class="text-center ">MIT JOURNEY</h2>
				</div> -->

            </div>

        </div>
    </div>
</section>

<div class="container my-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <img src="assets/images/training_serv.webp" class="img-fluid w-100" alt="">
        </div>
        <div class="">
            <div class="tech_training">
                <h5 class="font-weight-bold mb-3 text-yel">Technology Training</h5>
                <p class="text-white text-justify">Maganti IT resource train young minds with a training program called “SPARKMINDS”. Internships are provided to students to shape their career. We give immersive learning across entire software cycle to freshers and provide placements according
                    to their interest and skillset.

                    <div class="mt-4 goal-arrow">
                        <a href="tech-trainings.html" class="">
                            <span class="span">See Our Technology Training</span>
                        </a>
                    </div>
                    <!-- <a href="tech-trainings.html" class="text-white text-underline ml-2">More..</a></p> -->
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"> <img src="assets/images/tech-staff.webp" class="img-fluid w-100" alt=""></div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"> <img src="assets/images/tech-dev.webp" class="img-fluid w-100" alt=""></div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="tech_staff">
                <h5 class="font-weight-bold mb-3 text-yel">Staffing</h5>
                <p class="text-white text-justify">We know how crucial it is to find right employee with required skill set who can contribute to company’s growth. Finding right...
                    <div class="mt-4 goal-arrow">
                        <a href="tech-staffing.html" class="">
                            <span class="span">See Our Technology Staffing</span>
                        </a>
                    </div>
                    <!-- <a href="tech-staffing.html" class="text-white text-underline ml-2">More..</a></p> -->
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="tech_dev">
                <h5 class="font-weight-bold mb-3 text-yel">Development</h5>
                <p class="text-white text-justify">Our work in technology and development strengthen businesses and industries. We use leading-edge technologies...
                    <div class="mt-4 goal-arrow">
                        <a href="tech-development.html" class="">
                            <span class="span">See Our Technology Development</span>
                        </a>
                    </div>

                    <!-- <a href="tech-development.html" class="text-white text-underline ml-2">More..</a></p> -->
            </div>
        </div>
    </div>
</div>


<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a href="contact.html" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>