<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture class="chrome">
                    <source type="image/webp " srcset="assets/images/services/development_services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/development_services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/development_services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
                      
                        assets/images/services/development_services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
                        assets/images/services/development_services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/services/development_services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/development_services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/development_services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
           
					assets/images/services/development_services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/development_services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/services/development_services_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/development_services_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/development_services_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,

					assets/images/services/development_services_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/development_services_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="images/services/development_services_1960x400.jpg?w=1920&amp;q=75 " title="Maganit IT Guild Carousel" alt="Maganit IT Guild Carousel ">
                </picture>
                <img src="assets/images/services/development_services_1920x400.jpg" class="img-fluid ie" alt="Maganit IT Guild Carousel" title="Maganit IT Guild Carousel">
                <!-- <div class="overlap-text w-100 " >
                        <h2 class="text-center ">MIT JOURNEY</h2>
                    </div> -->

            </div>

        </div>
    </div>
</section>

<div class="container tech-development my-5 text-justify">

    <div class="row my-lg-5 my-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/app-ser.webp" class="img-fluid w-100 chrome" alt="Maganti IT Resources, LLC Application Development Services" title="Maganti IT Resources, LLC Application Development Services">
                <img src="assets/images/app-ser.png" class="img-fluid w-100 ie" alt="Maganti IT Resources, LLC Application Development Services" title="Maganti IT Resources, LLC Application Development Services">
                <div>
                    <div class="tech-app">
                        <h4 class="text-blue">Application Development Services</h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="py-lg-4 px-lg-5 p-1">

                <p class="mb-3 mt-4">At Maganti IT Solutions, we transform traditional portfolios to flexible, modular applications. Through these applications we provide enhanced business alignment, customer engagement and return on investment.</p>
                <div class="mb-5 ml-5">
                    <ul>
                        <li>E-commerce</li>
                        <li>Custom Web application development</li>
                        <li>Open source development</li>
                        <li>UI/UX Design</li>
                        <li>
                            App modernization</li>
                    </ul>
                </div>
                <a [routerLink]="'/app-development'" class="mit-red font-weight-bold">More..</a>
            </div>

        </div>

    </div>
    <div class="row my-lg-5 my-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="py-lg-4 px-lg-5 p-1">
                <p class="mb-3 mt-5">Our team at Maganti IT, understands your needs, requirements and capabilities and develops customized mobile applications.</p>
                <div class="mb-5 ml-5">
                    <ul>
                        <li>Android app development</li>
                        <li>iOS app development</li>
                        <li>AR app development</li>
                        <li>Cross platform app development</li>
                    </ul>
                </div>
                <a [routerLink]="'/mobileApp-services'" class="mit-red font-weight-bold">More..</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/mobile-app.webp" class="img-fluid w-100 chrome" alt="Maganti IT Resources, LLC Mobile Application Services" title="Maganti IT Resources, LLC Mobile Application Services">
                <img src="assets/images/mobile-app.png" class="img-fluid w-100 ie" alt="Maganti IT Resources, LLC Mobile Application Services" title="Maganti IT Resources, LLC Mobile Application Services">
                <div class="tech-mobile-soft">
                    <h1 class="text-blue">Mobile Application Services</h1>
                </div>
            </div>

        </div>

    </div>
    <div class="row my-lg-5 my-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/db-services.png" class="img-fluid w-100" alt="Database Services" title="Database Services">
                <div class="tech-soft">
                    <h4 class="text-blue">Database</h4>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="py-lg-4 px-lg-5 p-1">
                <p class="mb-3 mt-3">Oracle has features such as sharing, private cloud, high-speed performance, high-speed data distribution, security permission managementand others that enable hybrid deployments. We revamp your business by integrating with oracle to do
                    the following functions.</p>
                <div class="mb-5 ml-5">
                    <ul>
                        <li>Automation of data migration</li>
                        <li>Database management</li>
                        <li>Backup and synchronization</li>
                        <li>Automated partitioning</li>
                    </ul>
                </div>
                <a [routerLink]="'/database-services'" class="mit-red font-weight-bold">More..</a>
            </div>
        </div>
    </div>
    <div class="row my-lg-5 my-4">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="py-lg-4 px-lg-5 p-1">
                <p class="mb-3 mt-3">Help protecting your digital assets from theft or damage.</p>
                <div class="mb-5 ml-5">
                    <ul>
                        <li>Network security</li>
                        <li>Infrastructure security</li>
                        <li>Application security</li>
                        <li>Identity &amp; access management</li>
                        <li>Data Security &amp; Privacy</li>
                        <li>Advanced threat protection</li>
                        <li>End point security</li>
                    </ul>
                </div>
                <a [routerLink]="'/security-services'" class="mit-red font-weight-bold">More..</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/sec-services.webp" class="img-fluid w-100 chrome" alt="Maganti IT Resources, LLC Security Services" title="Maganti IT Resources, LLC Security Services">
                <img src="assets/images/sec-services.png" class="img-fluid w-100 ie" alt="Maganti IT Resources, LLC Security Services" title="Maganti IT Resources, LLC Security Services">
                <div>
                    <div class="tech-app">
                        <h4 class="text-blue">Security</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row my-lg-5 my-4">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/web-brand.webp" class="img-fluid w-100 chrome" alt="Maganti IT Resources, LLC Web Barnding" title="Maganti IT Resources, LLC Web Barnding">
                <img src="assets/images/web-brand.png" class="img-fluid w-100 ie" alt="Maganti IT Resources, LLC Web Barnding" title="Maganti IT Resources, LLC Web Barnding">
                <div>
                    <div class="tech-app">
                        <h4 class="text-blue">Web Branding</h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="py-lg-4 px-lg-5 p-1">
                <p class="mb-3 mt-5">Whether you want to create a brand or a website, increase traffic to your website, design a promotional campaign or increase brand visibility our team is ready to help you with following services.</p>
                <div class="mb-5 ml-5">
                    <ul>
                        <li>Web designing and development</li>
                        <li>Search Engine Optimization (SEO)</li>
                        <li>Social media marketing</li>
                        <li>Content Marketing</li>

                    </ul>
                </div>
                <a [routerLink]="'/web-branding'" class="mit-red font-weight-bold">More..</a>
            </div>
        </div>

    </div>
    <div class="row my-lg-5 my-4">
        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">

            <div class="py-lg-4 px-lg-5 p-1">
                <p class="mb-3 mt-4">Operations include administration and management of essential elements to effectively, efficiently, and proactively utilize technology, information, and data.</p>
                <div class="mb-5 ml-5">
                    <ul>
                        <li>Maintenance of IT infrastructure</li>
                        <li>Administration</li>
                        <li>Troubleshooting</li>
                        <li>Configuration Management</li>
                        <li>Server repair management</li>
                    </ul>
                </div>
                <a [routerLink]="'/op-main'" class="mit-red font-weight-bold">More..</a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/software-op.webp" class="img-fluid w-100 chrome" alt="Maganti IT Resources, LLC Operations and Maintenance" title="Maganti IT Resources, LLC Operations and Maintenance">
                <img src="assets/images/software-op.png" class="img-fluid w-100 ie" alt="Maganti IT Resources, LLC Operations and Maintenance" title="Maganti IT Resources, LLC Operations and Maintenance">
                <div class="tech-soft">

                    <h4 class="text-blue">Operations & Maintenance</h4>

                </div>

            </div>

        </div>





    </div>
</div>
<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>