<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture>
                    <source type="image/webp " srcset="assets/images/services/software_operations_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/software_operations_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/software_operations_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
				  
					assets/images/services/software_operations_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/software_operations_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/services/software_operations_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/software_operations_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/software_operations_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
			  
					assets/images/services/software_operations_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/services/software_operations_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/services/software_operations_480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/services/software_operations_960x640.jpg?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/services/software_operations_1920x400.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
				 
					assets/images/services/software_operations_2880x1033.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
                    assets/images/services/software_operations_3840x1560.jpg?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="assets/images/services/software_operations_1920x400.jpg?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel " title="Maganit IT Guild Carousel ">
                </picture>

                <!-- <div class="overlap-text w-100 " >
					<h2 class="text-center ">MIT JOURNEY</h2>
				</div> -->

            </div>

        </div>
    </div>
</section>


<div class="container tech-development my-5 text-justify">
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="mit-red font-weight-bold mb-4">Operations & Maintenance</h4>
            <p>Information technology is key business enabler to support business growth for any sized company or for a government agency. The operations and maintenance need to be done in real time to be up to date and make sure there are no issues. As,
                the environment changes dynamically with upgrades and expansions, we ensure you to focus on your key business requirements while we manage your day to day IT operations with our solutions. Operations include administration and management
                of essential elements to effectively, efficiently, and proactively utilize technology, information, and data.</p>
            <h5 class="mt-3">We offer below Operations & Maintenance</h5>
        </div>
    </div>

</div>
<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Maintenance of IT infrastructure</h4>
                <p>Key to business continuity, a process that is needed to sustain a business throughout its operational life cycle. The maintenance is vital as it consists of all the elements that support the operations and usability of data.
                </p>
                <ul class="px-4">
                    <li>Server and database management</li>
                    <li>Network Management and monitoring</li>
                    <li>Storage and Backup Management</li>
                    <li>Security Management</li>

                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/it-infra.jpg" class="img-fluid" alt="Operations & Maintenance Image Alternate Name" title="Operations & Maintenance Image Title">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid px-0 devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/admin.png" class="img-fluid" alt="Operations & Maintenance Image Alternate Name" title="Operations & Maintenance Image Title">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Administration</h4>
                <p>This service helps tackle Operations & Maintenance of an organization on whole ensuring maximum efficiency. We provide single source for all the software applications in the portfolio. Our team knows where to look and what to do and can
                    integrate separate applications into comprehensive work flows and make sure software works as promised.
                </p>
                <ul class="px-4">
                    <li>Server and database management</li>
                    <li>Storage and Backup Management</li>
                    <li>Security Management</li>

                </ul>
            </div>

        </div>
    </div>

</div>
<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Troubleshooting</h4>
                <p>We do technical diagnosis on the issue and logical search on the source of the issue. We perform the following process to resolve the issue.
                </p>
                <ul class="px-4">
                    <li>Identify what the issue.</li>
                    <li>Analyze the cause.</li>
                    <li>Correct the issue.</li>
                    <li>Recheck whether the issue is resolved.</li>
                    <li>Regular follow-up.</li>

                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/troubleshooting.png" class="img-fluid" alt="Operations & Maintenance Image Alternate Name" title="Operations & Maintenance Image Title">
            </div>
        </div>
    </div>

</div>
<div class="container-fluid px-0 devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-center">
                <img src="assets/images/config.png" class="img-fluid" alt="Operations & Maintenance Image Alternate Name" title="Operations & Maintenance Image Title">
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Configuration Management</h4>
                <p>This is used to have an understanding of the status of complex assets and ensure the serviceability at the lowest cost. Configuration management involves high degree of automation to achieve goals. With this it is easier to build in checks
                    and redundancies, improving the potential for errors due to human error and the exactness for keeping assets in the desired state.
                </p>

            </div>

        </div>
    </div>

</div>
<div class="container-fluid px-0 bg-light devSoft">
    <div class="container devSoftpadding">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h4>Server repair management</h4>
                <p>We help monitor the server and apps running on the server. We ensure service and repair processing with improved product visibility across the system and timely checks of status, uptime, and monitoring of any new or recurring issues. Our
                    team will examine servers and find ways to increase performance to keep your customers delighted with your service whether you are at one location or multiple locations.
                </p>

            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <img src="assets/images/softrepair.png" class="img-fluid" alt="Operations & Maintenance Image Alternate Name" title="Operations & Maintenance Image Title">
            </div>
        </div>
    </div>

</div>




<section class="bg-blue">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>