<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <div class="picture-dba">
                    <picture>
                        <source type="image/webp " srcset="assets/images/services/cloud-computing-480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
						assets/images/services/cloud-computing-960x640.jpg?w=940&amp;h=640&amp;q=75&amp;fm=webp 960w, 
						assets/images/services/cloud-computing.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
		  
						assets/images/services/cloud-computing-2880x800.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w" sizes="(max-width: 1920px) 100vw, 1920px ">
                        <source srcset="assets/images/services/cloud-computing-480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
						assets/images/services/cloud-computing-960x640.jpg?w=940&amp;h=640&amp;q=75&amp;fm=webp 960w, 
						assets/images/services/cloud-computing.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
		  
						assets/images/services/cloud-computing-2880x800.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w" sizes="(max-width: 1920px) 100vw, 1920px ">
                        <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/services/cloud-computing-480x320.jpg?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
						assets/images/services/cloud-computing-960x640.jpg?w=940&amp;h=640&amp;q=75&amp;fm=webp 960w, 
						assets/images/services/cloud-computing.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
		  
						assets/images/services/cloud-computing-2880x800.jpg?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w
						" src="assets/images/services/cloud-computing.jpg?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel ">
                    </picture>
                    <div class="container">
                        <div class="cloud-service-boxsec">
                            <div class="magantiITdbservicespage magantITdb magantiITdbheadline text-center text-uppercase font-weight-bold">Cloud Computing Services

                            </div>

                        </div>
                    </div>


                </div>
                <!-- <div class="overlap-text w-100 " >
					<h2 class="text-center ">MIT JOURNEY</h2>
				</div> -->

            </div>

        </div>
    </div>
</section>

<div class="container tech-development my-5 text-center">
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="mit-red font-weight-bold mb-4">Cloud Computing Services & Deployment Models</h4>
            <p>Cloud computing services are changing how businesses and public institutions use information technology. Today cloud services are available to meet most any IT need. Although there's great variety among cloud computing services, all such services
                have certain basic features and benefits in common, and all can be categorized into a few basic cloud service types.</p>
            <h5 class="mt-3">We offer below Cloud Computing Services</h5>
        </div>
    </div>

</div>
<section class="explore-cloud-computing pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row m-0">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="cloud-computing-sec">
                            <div class="cloud-computing-title">
                                <h4 class="mit-red mb-3">
                                    Public Cloud

                                </h4>
                            </div>
                            <div class="cloud-computing-subinfo">
                                <p>A common way of cloud deployment in which the cloud resources like storage and servers are owned, operated and maintained.
                                    <br><br>
                                    <span class="font-weight-bold">Advantages include:

									</span>
                                </p>
                                <ul class="text-left ml-7 mt-3">
                                    <li>Low costs and maintenance.
                                    </li>
                                    <li>No limit on scalability.
                                    </li>
                                    <li>Highly reliable.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="cloud-computing-sec">
                            <div class="cloud-computing-title">
                                <h4 class="mit-red mb-3">
                                    Private Cloud

                                </h4>
                            </div>
                            <div class="cloud-computing-subinfo">
                                <p>The computing resources here are exclusive to the business. The hardware of the set-up is dedicated to your organization and the services are maintained on a private network.
                                    <br><br>
                                    <span class="font-weight-bold">Advantages include:

									</span>
                                </p>
                                <ul class="text-left ml-7 mt-3">
                                    <li>Customized cloud environment.
                                    </li>
                                    <li>Improved security through exclusive resources.
                                    </li>
                                    <li>Highly scalable.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="cloud-computing-sec">
                            <div class="cloud-computing-title">
                                <h4 class="mit-red mb-3">
                                    Hybrid Cloud

                                </h4>
                            </div>
                            <div class="cloud-computing-subinfo">
                                <p>It is a cross of Public and Private cloud infrastructures and offers the best of both the worlds. Data and applications here can move between public and private clouds for greater flexibility.
                                    <br><br>
                                    <span class="font-weight-bold">Advantages include:

									</span>
                                </p>
                                <ul class="text-left ml-7 mt-3">
                                    <li>Extended control for sensitive assets.
                                    </li>
                                    <li>Additional available resources.
                                    </li>
                                    <li>Cost-effective option.
                                    </li>
                                    <li>Easy transitions between clouds.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="cloud-computing-work col py-5">
                <div class="client-title">
                    <h4 class="text-white font-weight-bold">
                        Cloud platforms we work on
                    </h4>
                </div>
                <div class="cloud-clients-logo">
                    <div class="client-images py-5">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-12 col-sm-4">
                                <img src="assets/images/services/aws.png" alt="Cloud computing at aws" srcset="assets/images/services/aws.png">
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-12 col-sm-4">
                                <img src="assets/images/services/azzure.png" alt="Cloud computing at azzure" srcset="assets/images/services/azzure.png">

                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-12 col-sm-4">
                                <img src="assets/images/services/google.png" alt="Cloud computing at google" srcset="assets/images/services/google.png">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="explore-cloud-section pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="explore-sec">
                    <div class="explore-title">
                        <h4 class="text-dark text-center py-5">Our diverse knowledge-base and years of industry experience help us to offer services in the domains of:</h4>
                    </div>
                    <div class="explore-sub-sec">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-sm-12 col-md-4 col-12 px-0">
                                <div class="cloud-computing-service-box no-border-top no-border-left">
                                    <div class="explore-sub-title">
                                        <h5 class="mit-red py-3">Infrastructure as a Service (IAAS)
                                        </h5>
                                    </div>
                                    <div class="explore-sub-info-sec">
                                        <p class="text-color-custom">Capabilities offered through Cuelogic’s IAAS model help businesses drive more value by being able to run any workload at any time. An Enterprise-grade cloud helps our clients to make use of innovative migration
                                            tools to migrate on-premise workloads to the cloud.</p>
                                        <div class="heading">
                                            <h5 class="text-color-custom py-3">Services typically cater to requirements of:</h5>
                                            <ul class="ml-4">
                                                <li>Computing</li>
                                                <li>Storage</li>
                                                <li>Network</li>
                                                <li>Bare Metal</li>
                                                <li>Container</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-12 col-md-4 col-12 px-0">
                                <div class="cloud-computing-service-box no-border-top xs-border-top">
                                    <div class="explore-sub-title">
                                        <h5 class="mit-red py-3">Platform as a Service (PAAS)</h5>
                                    </div>
                                    <div class="explore-sub-info-sec">
                                        <p class="text-color-custom">Cuelogic actively makes use of PAAS engineering to help businesses fundamentally remove the requirement of handling the infrastructure of a software or application. This enables them to focus on the management and
                                            deployment of their applications.</p>
                                        <div class="heading">
                                            <h5 class="text-color-custom py-3">Key features that can be chosen from include:
                                            </h5>
                                            <ul class="ml-4">
                                                <li>Service-side Scripting Environment.
                                                </li>
                                                <li>Database Management System.</li>
                                                <li>Server Software and Network Access.</li>
                                                <li>Design and Development ToolsContainer.</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-12 col-md-4 col-12 px-0">
                                <div class="cloud-computing-service-box no-border-top xs-border-top">
                                    <div class="explore-sub-title">
                                        <h5 class="mit-red py-3">Software as a Service (SAAS)</h5>
                                    </div>
                                    <div class="explore-sub-info-sec">
                                        <p class="text-color-custom">A business solution delivery model in which the application is hosted on remote infrastructure. Through this, we help the business to offload the hassle of building and maintaining an application and bring down
                                            the costs with a pay-as-you-go model.</p>
                                        <div class="heading">
                                            <h5 class="text-color-custom py-3">Services here include:
                                            </h5>
                                            <ul class="ml-4">
                                                <li>Integration of SaaS apps with third-party solutions.
                                                </li>
                                                <li>Development of secure custom APIs for easy data exchange.</li>
                                                <li>Solutions focusing on integrations with external data sources.</li>

                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-sm-12 col-md-4 col-12 px-0">
                                <div class="cloud-computing-service-box no-border-left xs-border-top no-hover">


                                </div>

                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-12 col-md-4 col-12 px-0">
                                <div class="cloud-computing-service-box xs-border-top">
                                    <div class="explore-sub-title">
                                        <h5 class="mit-red py-3">Consulting</h5>
                                    </div>
                                    <div class="explore-sub-info-sec">
                                        <p class="text-color-custom">Capitalizing on the potential of Cloud is one of the major corporate decisions. Cuelogic extends expert knowledge to businesses to help them choose the right ecosystem, make the migration process smoother and minimize
                                            the transition risk.</p>
                                        <div class="heading">
                                            <h5 class="text-color-custom py-3">Services include:
                                            </h5>
                                            <ul class="ml-4">
                                                <li>Exploratory Evaluations like Cloud Value Assessment and TCO Assessment.
                                                </li>
                                                <li>Development of secure custom APIs for easy data exchange.</li>
                                                <li>Solution and Technology Consulting including Capacity planning, sizing and solution architecture.</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-4 col-lg-4 col-sm-12 col-md-4 col-12 px-0">
                                <div class="cloud-computing-service-box xs-border-top no-hover">


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="explore-cloud-computing pb-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title py-5">
                    <h4 class="font-italic text-center">
                        “Cloud-first is more of a philosophy than a service offering. With the enormous benefits cloud computing has to offer, it has to form an important part of any business’s digital and development strategy.”
                    </h4>
                    <h4 class="text-center py-5">Enabling Cloud Services</h4>
                </div>
                <div class="row m-0">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="enabling-computing-sec">
                            <div class="cloud-computing-title">
                                <h4 class="mit-red mb-3">
                                    Cloud Ecosystem

                                </h4>
                            </div>
                            <div class="cloud-computing-subinfo">
                                <p>Understanding the entire cloud ecosystem and the advantages of Public, Private & Hybrid Cloud models. We also overview the key elements of IaaS, PaaS & SaaS.

                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="enabling-computing-sec">
                            <div class="cloud-computing-title">
                                <h4 class="mit-red mb-3">
                                    Better Cloud RoI

                                </h4>
                            </div>
                            <div class="cloud-computing-subinfo">
                                <p>The section overviews how to account for better ROIs through cloud computing. Understanding Secure Deployment, Technology Stacks, Provider Selection & Migration.

                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="enabling-computing-sec">
                            <div class="cloud-computing-title">
                                <h4 class="mit-red mb-3">
                                    Benefitting From Cloud
                                </h4>
                            </div>
                            <div class="cloud-computing-subinfo">
                                <p>How can you harness the true power of the cloud and the benefits that accompany it – Cost Reductions, Scalability, Collaborations & Security.

                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Cracking the Cloud</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">With the world moving to the cloud there are a million choices that are to be made while deploying, architecting or simply leveraging the cloud. Which one is the best? How to do it correctly? What are the RoIs? The right & experienced
                        Technology partner helps you navigate to your end-goal without any roadblocks.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a href="contact.html" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>