<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture class="chrome">
                    <source type="image/webp " srcset="assets/images/industries_480x320.webp?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/industries_960x640.webp?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/industris.webp?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
				
					assets/images/industries_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/industries_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/industries_480x320.webp?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/industries_960x640.webp?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/industris.webp?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
			  
					assets/images/industries_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/industries_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/industries_480x320.webp?w=480&amp;h=320&amp;q=75&amp;fm=webp 480w, 
					assets/images/industries_960x640.webp?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					assets/images/industris.webp?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w,
		  
					assets/images/industries_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/industries_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="assets/images/industris.webp?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel " title="Maganit IT Guild Carousel">
                </picture>
                <img src="assets/images/industris.png" class="img-fluid ie" alt="Maganit IT Guild Carousel" title="Maganit IT Guild Carousel">

                <!-- <div class="overlap-text w-100 " >
					<h2 class="text-center ">MIT JOURNEY</h2>
				</div> -->

            </div>

        </div>
    </div>
</section>

<div class="container industries my-5">
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/retail.webp" class="img-fluid w-100 chrome" alt="Maganti IT Resources, LLC Retail Industries" title="Maganti IT Resources, LLC Retail Industries">
                <img src="assets/images/retail.png" class="img-fluid w-100 ie" alt="Maganti IT Resources, LLC Retail Industries" title="Maganti IT Resources, LLC Retail Industries">

            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
            <div class="p-4">
                <h4 class="font-weight-bold mit-red mb-lg-5 mb-3">Retail</h4>
                <p class="mt-2">“We at Maganti IT Resources provide new ways to enhance retail experience; shopping and their back- end processes to attract the deeply penetrating digital mindset.”
                </p>
                <p class="mb-5">We help our clients with technologies and solutions to create game changing business innovations as industry is taken away by digitalization and omni-channel strategies. Technology can be used to attract mobile users, increase shopper’s
                    convenience and experience, or to promote ones online presence. With digital retailing one can enhance customers purchasing journey.</p>

                <a [routerLink]="'/retail'" class="btn btn-outline-primary px-5 py-3">More Details</a>
            </div>

        </div>
    </div>
    <div class="row my-5">

        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
            <div class="p-4">
                <h4 class="font-weight-bold mit-red mb-lg-5 mb-3">Banking</h4>
                <p class="mt-2">“With our services we give customers multiple ways to transact and communicate with you. Digitalization drives efficiency, productivity and customer experience along with security. ”
                </p>
                <p class="mb-5">Banking industry is beholding competitive landscape with more government intervention to increase competition, altering customer expectations and challenging business models.
                </p>


                <a [routerLink]="'/banking'" class="btn btn-outline-primary px-5 py-3">More Details</a>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/banking.webp" class="img-fluid w-100 chrome" alt="Maganti IT Resources, LLC Banking Industries" title="Maganti IT Resources, LLC Banking Industries">
                <img src="assets/images/banking.png" class="img-fluid w-100 ie" alt="Maganti IT Resources, LLC Banking Industries" title="Maganti IT Resources, LLC Banking Industries">

            </div>

        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/manufacturing.webp" class="img-fluid w-100 chrome" alt="Maganti IT Resources, LLC Manufacturing Industries" title="Maganti IT Resources, LLC Manufacturing Industries">
                <img src="assets/images/manufacturing.png" class="img-fluid w-100 ie" alt="Maganti IT Resources, LLC Manufacturing Industries" title="Maganti IT Resources, LLC Manufacturing Industries">


            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
            <div class="p-4">
                <h4 class="font-weight-bold mit-red mb-lg-5 mb-3">Manufacturing</h4>
                <p class="mt-2">“Digitalization encompasses every aspect of manufacturing, we at Maganti IT Resources provide end-to- end supply chain optimization, by integrating IT across the platforms. “
                </p>
                <p class="mb-5">Manufacturing sector is anticipated to witness rapid digital revolution with increased awareness among users on technical adoption. Our services give digital customer experience solutions to stand out of cut- throat competition.
                </p>


                <a [routerLink]="'/manufacturing'" class="btn btn-outline-primary px-5 py-3">More Details</a>
            </div>

        </div>
    </div>
    <div class="row my-5">

        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
            <div class="p-4">
                <h4 class="font-weight-bold mit-red mb-lg-5 mb-3">Insurance</h4>
                <p class="mt-2">“We improve customer interaction and relations with secured environment and reduced risk. With our services and solutions we enhance digital experience and reduce maintenance cost.”
                </p>
                <p class="mb-5">Technology in insurance industry can be used to increase the experience of agents, insured and insurer with live chats, enhanced web, mobile experience, automation of claims and many more. We at Maganti IT solutions are ready to help the
                    clients to go through the digital makeover on insurance with custom solutions and cutting edge technologies.</p>


                <a [routerLink]="'/insurance'" class="btn btn-outline-primary px-5 py-3">More Details</a>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
            <div>
                <img src="assets/images/insurance.webp" class="img-fluid w-100 chrome" alt="Maganti IT Resources, LLC Insurance Industries" title="Maganti IT Resources, LLC Insurance Industries">
                <img src="assets/images/insurance.png" class="img-fluid w-100 ie" alt="Maganti IT Resources, LLC Insurance Industries" title="Maganti IT Resources, LLC Insurance Industries">

            </div>

        </div>
    </div>

</div>



<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>