<section class="bg-image top75">
    <div class=" image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture>
                    <source type="image/webp " srcset="assets/images/rec-reviews.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/rec-reviews.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 100vw, 1920px " class="img-fluid lazy " loading="lazy " srcset="assets/images/rec-reviews.jpg?w=1920&amp;h=533&amp;q=75&amp;fm=webp 1920w " src="assets/images/rec-reviews.jpg?w=1920&amp;q=75
        " alt="Maganit IT Guild Carousel ">
                </picture>



            </div>

        </div>
    </div>
</section>

<!-- <div class="container-fluid px-0 recog-bg top108 ">
        <div class="row ">
            <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 "></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 ">
                <div class="recog-side d-flex align-items-center text-center text-yel ">
                    <h3 class="text-center font-weight-bold ">Recognitions & <br> Reviews</h3>
                </div>

            </div>
        </div>
    </div> -->



<section id="testim " class="testim ">
    <div class="container my-5 ">
        <h4 class="text-blue text-center font-weight-bold py-3 ">What our clients say</h4>

        <div class="row mt-5 text-justify ">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                <div class="rating my-4 ">
                    <h6 class="font-weight-bold text-blue ">Carlos Maldonado, C &amp; R Yard Pro</h6>

                </div>

                <p>Thank you for the work you did with the rebrand. We have been getting very good feedback on the new website, logos and business cards. The website in particular is proving very beneficial. Having a mobile enabled site with a fully integrated
                    content management system is proving to be very useful, and also proving to be a key marketing tool to help us compete for new business. Once again, many thanks for your help and support throughout the entire process.
                </p>
                <p>Maganti IT Resources LLC, Rocks!!!</p>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                <div class="rating my-4 ">
                    <h6 class="font-weight-bold text-blue ">Candace J. Kosinski-CPA, Proprietor, CPA AuditPro 411</h6>

                </div>

                <p>Maganti IT Resources, LLC did a FABULOUS job on my website! Even better their fees were VERY reasonable, and I received a lot of very helpful tips as well! Throughout the steps for developing my website, I received a lot of guidance and
                    we had several online calls so that my site would be set up exactly as I wished. Maganti also helped me pick out a logo and assisted me with many questions as I advertised on Facebook! I am very satisfied and would highly recommend
                    Maganti LLC to any small business which desires to set up a website!</p>

            </div>
        </div>
        <div class="row ">
            <div class="col-12 text-center mt-5 ">
                <a class="btn btn-outline-primary text-center w-16 " [routerLink]="'/client-reviews'">More ...</a>
            </div>

        </div>
    </div>
</section>



<div class="container-fluid bg-light py-5 ">
    <div class="container py-5 ">
        <h4 class="text-blue text-center font-weight-bold ">What our employees say</h4>
        <!-- <img src="assets/images/logo.png " class="d-block mx-auto my-5 " style="width: 250px; " alt=" "> -->
        <div class="row mt-5 text-justify ">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                <div class="rating my-4 ">
                    <h6 class="font-weight-bold text-blue ">Meghanath Nagulapalli, Java Developer</h6>

                </div>

                <p>If a house has strong foundation and pillars, the house stands the test of time. My experience with Maganti IT Resources, LLC has been akin to that. I have been working with them since 2017. After my graduation, I was lucky enough to find
                    an employer such as Maganti IT who guided me through each and every step to become a software professional. They are always there for me just like a family. I strongly recommend my employer as an option to those individuals who are
                    looking for a right guidance to establish their career in their respective fields.</p>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                <div class="rating my-4 ">
                    <h6 class="font-weight-bold text-blue ">Kishore V, Project Manager</h6>

                </div>

                <p>I worked for Maganti IT Resources, LLC for over for 6 years and so far, the experience had been nothing less than amazing. I can concentrate on the work and need not worry about anything- everything from visa filing- paycheck- support,
                    everything found to be seamless. The Owner and the staff, especially HR were very professional and courteous in any matter I brought up with and tend to resolve quickly and amicably. I'd highly recommend MIT for any consultants that
                    look for good employer for Visa jobs/ Green Card filing to any project delivery in a timely manner.</p>

            </div>
        </div>
        <div class="row ">
            <div class="col-12 text-center mt-5 ">
                <a class="btn btn-outline-primary text-center w-16 " [routerLink]="'/employee-reviews'">More ...</a>
            </div>

        </div>

    </div>
</div>
<section class="visaJob-reviews ">
    <div class="container ">
        <div class="row ">
            <div class="heading-visaJobs w-100 py-5 ">
                <h3 class="text-blue text-center ">
                    Check out our reviews on Myvisajobs.com
                </h3>
            </div>
        </div>
        <div class="row ">
            <div class="codepen-wrapper col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <figure class="review ">
                    <blockquote class="review__text ">
                        I worked at Maganti IT for over 3 years. The HR and the recruiting team were very helpful. Great experience with highly professional staff! Very open and transparent about their process. Always keen to help you in every step of the way.
                    </blockquote>
                    <figcaption class="review__person ">

                        <img src="assets/images/employee_reviews/user.png " alt="User 1 " class="review__photo " title="review__photo" />
                        <div class="review__info ">
                            <p class="review__info--name ">Gopi</p>
                            <p class="review__info--date ">Programmer Analyst</p>
                        </div>
                        <div class="review__rating ">4.9</div>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <figure class="review ">
                    <blockquote class="review__text ">
                        I worked as a Developer for almost 8 years of which 4 years on H1b. I have had the privilege to work for Maganti IT Resources. This company has some of the best people that motivate and encourage you to do better personally/professionally and grow as
                        an individual. I have worked for quite some time with MIT and I never had a problem either when it comes to job satisfaction, salary or paper work. They are super keen on making sure all the paper work is in right order and address
                        issues in a timely manner. All I could say is as an employee I was super happy.
                    </blockquote>
                    <figcaption class="review__person ">
                        <img src="assets/images/employee_reviews/user.png " alt="User 1 " class="review__photo " title="review__photo">
                        <div class="review__info ">
                            <p class="review__info--name ">Phani</p>
                            <p class="review__info--date "> Software Developer</p>
                        </div>
                        <div class="review__rating ">5.0</div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="mx-auto w-16 ">
            <a class="btn btn-outline-primary px-5 py-2 mt-5 mx-auto d-block " href="http://www.myvisajobs.com/Visa-Sponsor/Maganti-Resources/851730_Review.htm " target="_blank "> More..</a>

        </div>
    </div>
</section>


<section class="bg-blue mt-5 ">
    <div class="container-fluid ">
        <div class="container footer_contact ">
            <div class="row w-100 ">
                <div class="w-100 text-center ">
                    <h5 class="text-white font-weight-bold mb-4 font-60 ">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center ">
                    <p class="mb-0 text-white " style="font-size:18px; ">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row ">
                <div class="col text-center mt-4 ">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center ">Get in touch</a>
                </div>
                <!-- <button type="button " class="btn btn-primary px-5 py-2 mt-3 ">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>