<section class="slider mt-78">
    <div class="container-fluid">
        <div class="row">
            <div class="mainhomebanner">
                <div class="main-top">
                    <div class="sub-banner">
                        <img alt="Design and Development organistion in us" title="Maganti IT is a Design and Development organisation" class="img-fluid img-homepage" src="assets/images/001.png">
                        <div class="container">
                            <div class="magantiITsubhomepagetextb1 container">
                                <div class="magantiIThomepage magantIThero magantiITheadline"><span class="newWays">Reimagine Success</span> in <br> <span class="newWays">New Ways</span> with
                                </div>
                                <div class="magantiIThomepage magantIThero magantiITheadline fontTT"> Technology Transformation</div>
                                <div class="magantiIThomepage magantIThero magantiITbody" style="height: 118px;">At Maganti IT, we align and transform Technology Initiatives to optimize clients, <br>Business Operations with strategic goals and value realization.</div>
                            </div>
                        </div>

                        <div class="arrowDown">
                            <a class="down" href="javascript:void(0)">
                                <img src="assets/images/scrollDown.png" alt="arrow of the downscroll on the Maganti IT" srcset="assets/images/scrollDown.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container p-lg-5 p-sm-3 mt-5">
    <h4 class="text-center heading_h4 mb-5">LATEST INSIGHTS</h4>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="insights">
                <div><img src="assets/images/latestInsights/corona.webp" class="img-fluid w-100 insights_img" alt=""></div>
                <div class="insights_text">
                    <p class="mb-2 text-dark">May 09, 2020</p>
                    <h6 class="text-left mb-2 font-weight-bold mit-red">Future of technology with COVID-19</h6>
                    <p class="mb-4">In this era, organizations should build strong foundations for their digital technologies, should optimize resources, embrace risk and create value. </p>
                    <a [routerLink]="'/covid-19'" class="mit-red font-weight-bold">More..</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="insights">
                <div><img src="assets/images/latestInsights/usRecession.jfif" class="img-fluid w-100 insights_img" alt=""></div>
                <div class="insights_text">
                    <p class="mb-2 text-dark">June 09, 2020</p>
                    <h6 class="text-left mb-2 font-weight-bold mit-red">U.S. officially enters into recession</h6>
                    <p class="mb-4">As per National Bureau of Economic Research, United States recession began in February 2020 marking the end of 128 months of economic growth.</p>
                    <a [routerLink]="'/usofficial'" class="mit-red font-weight-bold">More..</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="insights">
                <div><img src="assets/images/latestInsights/virtual.png" class="img-fluid w-100 insights_img" alt=""></div>
                <div class="insights_text">
                    <p class="mb-2 text-dark"> June 10, 2020</p>
                    <h6 class="text-left mb-2 font-weight-bold mit-red">Virtual and Augmented Reality will change the way Retail Industry</h6>
                    <p class="mb-4">The retail industry is highly competitive and driven by shopper's expectations and requirements. </p>
                    <a [routerLink]="'/virtual'" class="mit-red font-weight-bold">More..</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5 our-works">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <img src="assets/images/works.webp" class="img-fluid w-100" alt="">
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <div class="home_works">
                <h5 class="heading_h4_w mb-4 text-white">OUR WORKS</h5>
                <p class="mb-4">Take a look at some of our efficiently completed projects and websites.</p>
                <!-- <button class="btn btn-outline-secondary rounded-0 text-white px-3 py-2">View All</button> -->
                <div class="button-3">
                    <div class="eff-3"></div>
                    <a [routerLink]="'/casestudy'"> View All </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container home_plan_top">
    <div class="row home_plan">
        <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
            <div class="planning">
                <h5 class="heading_h4 mb-4">PLANNING</h5>
                <h6 class="font-weight-bold lineH15">Understand the client needs, establish a plan.
                </h6>
            </div>


        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-4 col-xl-4">
            <div class="develop">
                <h5 class="heading_h4_w mb-4 text-white">DEVELOPMENT</h5>
                <h6 class="font-weight-bold text-white lineH15">Transform the needs to systematic deliverable and experience.
                </h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <img src="assets/images/plan.webp" class="img-fluid w-100" alt="">
        </div>
    </div>

    <div class="row xs-m-0">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pl-0 goal-sec">
            <div class="ourGoal">
                <h5 class="heading_h4 mb-4">GOAL</h5>
                <h6 class="font-weight-bold lineH15 mb-5">Deliver solutions to yield growth to the clients.
                </h6>
                <div class="pt-3 goal-arrow">
                    <a [routerLink]="'/journey'" class="">
                        <span class="span">See Our Journey</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pr-lg-0 pr-md-0">
            <div class="gita-img"><img src="assets/images/training-sessin.jpg" class="img-fluid w-100 " alt="TRAINING AND PLACEMENT" title="TRAINING AND PLACEMENT"></div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="home_train">
                <h5 class="heading_h4 mb-lg-5 mb-md-3 mb-5">TRAININGS</h5>
                <h5 class="my-lg-4 my-md-2 my-4 font-weight-bold mit-red lineH15 text-uppercase">Unique learning experiences <br> by our professionals</h5>
                <p class="mb-lg-5 mb-md-3 mb-5">Our professional and experienced employees guide to achieve your goals.</p>
                <a [routerLink]="'/tech-trainings'" class="btn btn-outline-primary rounded-0 text-blue px-4 py-2">More details</a>
            </div>

        </div>
    </div>
</div>


<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>