<section class="bg-image ">
    <div class="image-section ">
        <div class="container-fluid p-0 ">
            <div class="row m-0 ">
                <picture class="chrome">

                    <source type="image/webp " srcset="assets/images/case_study/case_study_480x320.webp?w=480&amp;h=320&amp;q=75&amp;fm=webp 320w, 
					assets/images/case_study/case_study_960x640.webp?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w,
					assets/images/case_study/case_study_1920x400.webp?w=1920&amp;h=400&amp;q=75&amp;fm=webp 1920w, 
					assets/images/case_study/case_study_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					assets/images/case_study/case_study_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <source srcset="assets/images/case_study/case_study_480x320.webp?w=480&amp;h=320&amp;q=75&amp;fm=webp 320w,
					 assets/images/case_study/case_study_960x640.webp?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w, 
					 assets/images/case_study/case_study_1920x400.webp?w=1920&amp;h=400&amp;q=75&amp;fm=webp 1920w,
					 assets/images/case_study/case_study_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					 assets/images/case_study/case_study_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " sizes="(max-width: 1920px) 100vw, 1920px ">
                    <img sizes="(max-width: 1920px) 250vw, 1920px " class="img-fluid lazy img-parallax " loading="lazy " srcset="assets/images/case_study/case_study_480x320.webp?w=480&amp;h=320&amp;q=75&amp;fm=webp 320w,
					 assets/images/case_study/case_study_960x640.webp?w=960&amp;h=640&amp;q=75&amp;fm=webp 960w,
					 assets/images/case_study/case_study_1920x400.webp?w=1920&amp;h=400&amp;q=75&amp;fm=webp 1920w,
					 assets/images/case_study/case_study_2880x1033.webp?w=2880&amp;h=1033&amp;q=75&amp;fm=webp 2880w, 
					 assets/images/case_study/case_study_3840x1560.webp?w=3840&amp;h=1560&amp;q=75&amp;fm=webp 3840w " src="assets/images/case_study/case_study_1920x400.webp?w=1920&amp;q=75 " alt="Maganit IT Guild Carousel ">
                </picture>
                <img src="assets/images/case_study/case_study_1920x400.jpg" class="img-fluid ie" alt="Maganit IT Guild Carousel" title="Maganit IT Guild Carousel">
                <!-- <div class="overlap-text w-100 " >
					<h2 class="text-center ">MIT JOURNEY</h2>
				</div> -->

            </div>
            <div class="row m-0 ">
                <div class="innerContent ">
                    <div class="inner ">
                        <div class="section-content ">
                            <p>Maganti IT aims to deliver an innovative solution to improve client’s business and take it to the next level. Let us have some quick glance to our case studies covering different projects of varied industries handled successfully
                                by our highly skilled team.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- <div class="bg-line w-100 rellax " data-rellax-speed="1.25 "></div> -->
<section class="case_study pt-5 ">
    <div class="container ">
        <div class="row zoomer-sec ">
            <div class="col-12 col-xl-7 col-lg-7 col-md-8 col-xs-12 ">
                <div class="image-card ">
                    <div class="case_study_images ">
                        <img src="assets/images/case_study/karate-class.webp " srcset="assets/images/case_study/karate-class.webp " title="curoRC Maganti IT " alt=" curoRC " class="img-fluid chrome h-400 img-parallax ">
                        <img src="assets/images/case_study/karate-class.png " srcset="assets/images/case_study/karate-class.png " title="curoRC Maganti IT " alt=" curoRC " class="img-fluid h-400 ie img-parallax ">

                    </div>
                </div>

            </div>

            <div class="col-12 col-xl-5 col-lg-5 col-md-4 col-xs-12 ">
                <div class="inner-case-study ">
                    <div class="inner-sub-content ">
                        <h2>curoRC</h2>
                        <p>Maganti IT Resources, the IT company behind curoRC, has always believed that clients come first. With our primary strength in application development and expert knowledge in IT programming, we build customized software solutions
                            daily.
                        </p>
                        <p class="d-md-none d-lg-block ">Over the years we have worked extensively with martial arts studio owners and associations. Our clients have shared their pain points, needs, and desires to have software that makes their day-to-day operations easier...
                        </p>

                    </div>
                    <div class="case-study-button ">
                        <a [routerLink]="'/curorc'" class="btn btn-outline-primary ">Know More..</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 zoomer-sec ">

            <div class="col-12 col-xl-5 col-lg-5 col-md-4 col-xs-12 order-2 order-md-1 ">
                <div class="inner-case-study-left ">
                    <div class="inner-sub-content-left ">
                        <h2>FUTEK</h2>
                        <p>FUTEK, a niche manufacturer of load cell, pressure, torque sensors reimagine to stand out in a competitive market, speed up its operations to meet evolving customer expectations, and warm up for the next stage of growth. The company
                            started the journey to modernize the ecommerce site, marketing platform and infrastructure to meet the customer needs.
                        </p>
                        <p class="d-md-none d-lg-block ">
                            Maganti IT Resources started the journey with FUTEK to revamp ecommerce site, custom integration with Oracle suite of applications and automate their cloud infrastructure.
                        </p>

                    </div>

                    <div class="case-study-button ">
                        <a [routerLink]="'/futek'" class="btn btn-outline-primary ">Know More..</a>
                    </div>

                </div>
            </div>

            <div class="col-12 col-xl-7 col-lg-7 col-md-8 col-xs-12 order-1 order-md-2 ">
                <div class="image-card ">
                    <div class="case_study_images ">
                        <img src="assets/images/case_study/futek-advanced-sensor-technology-office.webp " srcset="assets/images/case_study/futek-advanced-sensor-technology-office.webp " title="futek-advanced-sensor-technology-office Maganti IT " alt=" curoRC
                        " class="img-fluid chrome">
                        <img src="assets/images/case_study/futek-advanced-sensor-technology-office.png " srcset="assets/images/case_study/futek-advanced-sensor-technology-office.webp " title="futek-advanced-sensor-technology-office Maganti IT " alt=" curoRC
                        " class="img-fluid ie">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5 zoomer-sec ">

            <div class="col-12 col-xl-7 col-lg-7 col-md-8 col-xs-12 ">
                <div class="image-card ">
                    <div class="case_study_images ">
                        <img src="assets/images/case_study/banking-services.jpg " srcset="assets/images/case_study/banking-services.jpg " title="curoRC Maganti IT " alt=" Banking Services " class="img-fluid ">
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-5 col-lg-5 col-md-4 col-xs-12 ">
                <div class="inner-case-study banking-services-box">
                    <div class="inner-sub-content ">
                        <h2>Banking Services</h2>
                        <h5 class="mt-2 mb-3">Barclays - Risk, Regulatory and Controls compliance analytics platform</h5>
                        <p>For one of the leading banks Barclays, Maganti IT Resources implemented a compliance analytics platform with digital transformation of Risk, Regulatory and Control analysis with the help of our expert team.
                        </p>
                        <p class="d-md-none d-lg-block ">Maganti IT resources partnered with the bank to develop a real time dashboard where they can analyze the risks, what regulatory controls and measures are implemented that incurred on every segment of operation. The dashboard helps
                            C-level executives to monitor and track, day to day business activities with visual representation. This helps the bank in managing their budget, fraudulent activities, improving compliance and decrease penalty costs.
                        </p>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<section class="bg-blue mt-5">
    <div class="container-fluid">
        <div class="container footer_contact">
            <div class="row w-100">
                <div class="w-100 text-center">
                    <h5 class="text-white font-weight-bold mb-4 font-60">Discuss your Project</h5>
                </div>
                <div class="w-100 text-center">
                    <p class="mb-0 text-white" style="font-size:18px;">We are a team of 100+ professionals, who deliver only top quality web solutions.</p>

                </div>


            </div>
            <div class="row">
                <div class="col text-center mt-4">
                    <a [routerLink]="'/contact'" class="btn btn-outline-light px-5 py-2 mt-3 text-center">Get in touch</a>
                </div>
                <!-- <button type="button" class="btn btn-primary px-5 py-2 mt-3">Contact Us</button> -->

            </div>
        </div>
    </div>

</section>